
/* Our TNT styles */
.hamiltonian-operator-btn {
  height: 60px;
}

.initial-state-btn {
  height: 60px;
}

.expectation-operator-btn {
  height: 60px;
}

.new-calculation-btn {
  height: 60px;
}

.btn-default.active {
  background-color: #bb6000;
  border-color: #ab5800;
  color: #fff;
  text-shadow: 0 1px 0 #e0e0e0;
}

