CouchDB==0.8
Django==1.6.1
South==0.8.4
django-bootstrap-toolkit==2.15.0
django-bootstrap3==4.8.2
django-easy-pjax==1.0
djangorestframework==2.3.14
ipython==0.13.1
parsedatetime==1.1.2
psycopg2==2.5.3
python-dateutil==1.5
# readline==6.2.4.1
requests==1.1.0
wsgiref==0.1.2
