
/* Our TNT styles */
.hamiltonian-operator-btn {
  height: 60px;
}

.initial-state-btn {
  height: 100px;
}

.expectation-operator-btn {
  height: 100px;
}

.new-calculation-btn {
  height: 100px;
}
