{% verbatim %}

<script>


    Handlebars.registerHelper("timestamp_to_human_date", function(timestamp) {

        if ( (timestamp === null) || (timestamp == 0) || (timestamp == false) ) {

            return "None";

        } else {

            var date = new Date(timestamp*1000);

            return date.toLocaleString();

        }

    });

</script>

<script id="calculation-parameters-template" type="text/x-handlebars-template"> 

    <div class="row">
    
    <div id="basic_qn_ground" class="col-md-6 col-sm-12">

        <div id="basic_info">
            <h4>Basic system information</h4>
            <table class="table table-striped table-bordered">
                <!--<thead>-->
                    <!--<th></th>-->
                    <!--<th></th>-->
                <!--</thead>-->
                <tbody>
                    <tr>
                        <th class="text-nowrap" scope="row">Calculation name</th>
                        <td>{{meta_info.name}}</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">System type</th>
                        <td>{{setup.system.system_type.name}}</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">System size \( L \)</th>
                        <td>{{setup.system.system_size}}</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Truncation parameter \( \chi \)</th>
                        <td>{{setup.system.chi}}</td>
                    </tr>
                    {{#if setup.system.calculate_ground_state}}
                    <tr>
                        <th class="text-nowrap" scope="row">Calclate ground state?</th>
                        <td>Yes</td>
                    </tr>
                    {{#if setup.system.number_conservation.ground.apply_qn}}
                    <tr>
                        <th class="text-nowrap" scope="row">Number conservation for ground state?</th>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Ground state number</th>
                        <td>{{setup.system.number_conservation.ground.qn}}</td>
                    </tr>
                    {{else}}
                    <tr>
                        <th class="text-nowrap" scope="row">Number conservation for ground state?</th>
                        <td>No</td>
                    </tr>
                    {{/if}}
                    {{else}}
                     <tr>
                        <th class="text-nowrap" scope="row">Calclate ground state?</th>
                        <td>No</td>
                    </tr>
                    {{/if}}
                    {{#if setup.system.calculate_time_evolution}}
                    <tr>
                        <th class="text-nowrap" scope="row">Calculate time evolution?</th>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Number conservation for time-evolved state?</th>
                        {{#if setup.system.number_conservation.dynamic.apply_qn}}
                        <td>Yes</td>
                        {{else}}
                        <td>No</td>
                        {{/if}}
                    </tr>
                    {{else}}
                    <tr>
                        <th class="text-nowrap" scope="row">Calculate time evolution?</th>
                        <td>No</td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div> <!-- end of div for basic info -->
        <br>
        {{#if setup.system.calculate_ground_state}}
        <div id="ground_ham_info">

            <h4>Ground Hamiltonian terms</h4>
            <table class="table table-striped table-bordered">
                <thead>
                    <th>Term type</th>
                    <th>Spatial dependence</th>
                </thead>
                <tbody>

                {{#setup.hamiltonian.ground.terms}}

                    <tr>
                        <th class="text-nowrap" scope="row">\( {{function_tex_str}} \)</th>
                        <td>{{spatial_function.function_description}} \( {{spatial_function.function_tex_str}} \)
                        <ul>
                        {{#spatial_function.parameters}}
                         <li> \( {{parameter_tex_str}} = {{value}} \) </li>
                        {{/spatial_function.parameters}}
                        </ul>
                        </td>
                    </tr>
                {{/setup.hamiltonian.ground.terms}}


                </tbody>
            </table>
        </div>  <!-- end of div for ground ham info -->
        {{/if}}
        </div> <!-- end of LH div -->
        
        
        <div id="expec_and_time" class="col-md-6 col-sm-12">
        {{#if setup.system.calculate_time_evolution}}
        <div id="time_info">

            <h4>Time evolution</h4>
            <table class="table table-striped table-bordered">
                <!--<thead>-->
                    <!--<th></th>-->
                    <!--<th></th>-->
                <!--</thead>-->
                <tbody>
                    <tr>
                        <th class="text-nowrap" scope="row">Time steps \( N_T \)</th>
                        <td>{{setup.system.time.num_time_steps}}</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Time step size \( \delta t \)</th>
                        <td>{{setup.system.time.time_step}}</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Expectation value time steps \( N_e \)</th>
                        <td>{{setup.system.time.num_expval_time_steps}}</td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- end of div for time info -->
        <br>
        <div id="dynamic_ham_info">

            <h4>Dynamic Hamiltonian terms</h4>

            <table class="table table-striped table-bordered">
                <thead>
                    <th>Term type</th>
                    <th>Spatial dependence</th>
                    <th>Temporal dependence</th>
                </thead>
                <tbody>

                {{#setup.hamiltonian.dynamic.terms}}

                    <tr>
                        <th class="text-nowrap" scope="row"><div data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="{{function_description}}">\( {{function_tex_str}} \)</div></th>
                        <td>{{spatial_function.function_description}} \( {{spatial_function.function_tex_str}} \)
                        <ul>
                        {{#spatial_function.parameters}}
                         <li> \( {{parameter_tex_str}} = {{value}} \) </li>
                        {{/spatial_function.parameters}}
                        </ul>
                        </td>
                        <td>{{temporal_function.function_description}} \( {{temporal_function.function_tex_str}} \)
                        <ul>
                        {{#temporal_function.parameters}}
                         <li> \( {{parameter_tex_str}} = {{value}} \) </li>
                        {{/temporal_function.parameters}}
                        </ul>
                        </td>
                    </tr>
                {{/setup.hamiltonian.dynamic.terms}}


                </tbody>
            </table>

        </div> <!-- end of div for dynamic ham info -->
        {{/if}}
        <br>
        <div id="expec_info">

            <h4>Expectation values</h4>
            <table class="table table-striped table-bordered">
                <tbody>
                {{#if setup.system.calculate_time_evolution}}
                    <tr>
                        {{#if setup.system.calculate_ground_state}}
                        <th class="text-nowrap" scope="row">Calculate overlap with ground state?</th>
                        {{#if setup.expectation_values.calculate_overlap_with_ground}}
                        <td>Yes</td>
                        {{else}}
                        <td>No</td>
                        {{/if}}
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Calculate overlap with initial state?</th>
                        {{#if setup.expectation_values.calculate_overlap_with_intial}}
                        <td>Yes</td>
                        {{else}}
                        <td>No</td>
                        {{/if}}
                    </tr>
                  {{/if}}
                    <tr>
                        <th class="text-nowrap" scope="row">Operators</th>
                        <td>
                        <ul>
                        {{#setup.expectation_values.operators}}
                        <li> {{@index}} = \( {{function_tex_str}} \) </li>
                        {{/setup.expectation_values.operators}}
                        </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- end of div for expectation values -->
        </div> <!-- end of div for RH col -->
        

    </div> <!-- end of row div -->

</script>

{% endverbatim %}
