{% verbatim %}

<script>


    Handlebars.registerHelper("timestamp_to_human_date", function(timestamp) {

        if ( (timestamp === null) || (timestamp == 0) || (timestamp == false) ) {

            return "None";

        } else {

            var date = new Date(timestamp*1000);

            return date.toLocaleString();

        }

    });

    Handlebars.registerHelper('plusOne', function(number) {
        return number + 1;
    });

</script>

<script id="calculation-parameters-template" type="text/x-handlebars-template"> 

    <div class="row">
    
    <div id="basic_qn_expec" class="col-lg-6 col-md-12">

        <div id="basic_info">
            <h4>Basic system information</h4>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th class="text-nowrap" scope="row">Calculation name</th>
                        <td>{{meta_info.name}}</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">System type</th>
                        <td>{{setup.system.system_type.name}}</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">System size \( L \)</th>
                        <td>{{setup.system.system_size}}</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Truncation parameter \( \chi \)</th>
                        <td>{{setup.system.chi}}</td>
                    </tr>
                </tbody>
            </table>
            <h4>Calculation set-up</h4>
                <table class="table table-striped table-bordered">
                    <tbody>
                    {{#if setup.system.calculate_ground_state}}
                    <tr>
                        <th class="text-nowrap" scope="row">Calculate ground state?</th>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Ground state precision</th>
                        <td>\( 10^{- {{setup.system.log_ground_state_precision}} } \)</td>
                    </tr>
                    {{#if setup.system.number_conservation.ground.apply_qn}}
                    <tr>
                        <th class="text-nowrap" scope="row">Number conservation for ground state?</th>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Ground state number</th>
                        <td>{{setup.system.number_conservation.ground.qn}}</td>
                    </tr>
                    {{else}}
                    <tr>
                        <th class="text-nowrap" scope="row">Number conservation for ground state?</th>
                        <td>No</td>
                    </tr>
                    {{/if}}
                    {{else}}
                     <tr>
                        <th class="text-nowrap" scope="row">Calclate ground state?</th>
                        <td>No</td>
                    </tr>
                    {{/if}}
                    {{#if setup.system.calculate_time_evolution}}
                    <tr>
                        <th class="text-nowrap" scope="row">Calculate time evolution?</th>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Number conservation for time-evolved state?</th>
                        {{#if setup.system.number_conservation.dynamic.apply_qn}}
                        <td>Yes</td>
                        {{else}}
                        <td>No</td>
                        {{/if}}
                    </tr>
                    <tr>
                    <th class="text-nowrap" scope="row">Time steps \( N_T \)</th>
                    <td>{{setup.system.time.num_time_steps}}</td>
                    </tr>
                    <tr>
                    <th class="text-nowrap" scope="row">Time step size \( \delta t \)</th>
                    <td>{{setup.system.time.time_step}}</td>
                    </tr>
                    <tr>
                    <th class="text-nowrap" scope="row">Expectation value time steps \( N_e \)</th>
                    <td>{{setup.system.time.num_expval_time_steps}}</td>
                    </tr>
                    {{else}}
                    <tr>
                        <th class="text-nowrap" scope="row">Calculate time evolution?</th>
                        <td>No</td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div> <!-- end of div for basic info -->
        <br>
        <div id="expec_info">

            <h4>Expectation values</h4>
            <table class="table table-striped table-bordered">
                <tbody>
                {{#if setup.system.calculate_time_evolution}}
                    <tr>
                        {{#if setup.system.calculate_ground_state}}
                        <th class="text-nowrap" scope="row">Calculate overlap with ground state?</th>
                        {{#if setup.expectation_values.calculate_overlap_with_ground}}
                        <td>Yes</td>
                        {{else}}
                        <td>No</td>
                        {{/if}}
                        {{/if}}
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Calculate overlap with initial state?</th>
                        {{#if setup.expectation_values.calculate_overlap_with_intial}}
                        <td>Yes</td>
                        {{else}}
                        <td>No</td>
                        {{/if}}
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Calculate energy of time-evolved state?</th>
                        {{#if setup.expectation_values.calculate_dynamic_energy}}
                        <td>Yes</td>
                        {{else}}
                        <td>No</td>
                        {{/if}}
                    </tr>
                  {{/if}}
                    <tr>
                        <th class="text-nowrap" scope="row">Single site operators</th>
                        <td>
                        <ul>
                        {{#setup.expectation_values.operators}}
                        {{#unless this.two_site}}
                        <li>\( {{this.function_tex_str}} \)</li>
                        {{/unless}}
                        {{/setup.expectation_values.operators}}
                        </ul>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Two site operators</th>
                        <td>
                        <ul>
                        {{#setup.expectation_values.operators}}
                        {{#if this.two_site}}
                        <li>\( {{this.function_tex_str}} \) for {{this.exp_val_type}}</li>
                        {{/if}}
                        {{/setup.expectation_values.operators}}
                        </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- end of div for expectation values -->
        </div> <!-- end of LH div -->
        
        
        <div id="hamils" class="col-md-6 col-sm-12">
        {{#if setup.system.calculate_ground_state}}
        <div id="ground_ham_info">

            <h4>Ground state Hamiltonian</h4>
            {{#if setup.hamiltonian.ground.tex_str}}
                <p class='text-center'>
                    \( {{setup.hamiltonian.ground.tex_str}} \)
                </p>
            {{/if}}
            <table class="table table-striped table-bordered">
                <thead>
                    <th>Term</th>
                    <th>Spatial dependence</th>
                </thead>
                <tbody>

                {{#setup.hamiltonian.ground.terms}}

                    <tr>
                        <th class="text-nowrap" scope="row">\( {{function_tex_str}} \)</th>
                        <td>{{spatial_function.function_description}} \( {{spatial_function.function_tex_str}} \)
                        <ul>
                        {{#spatial_function.parameters}}
                         <li> \( {{parameter_tex_str}} = {{value}} \) </li>
                        {{/spatial_function.parameters}}
                        </ul>
                        </td>
                    </tr>
                {{/setup.hamiltonian.ground.terms}}


                </tbody>
            </table>
        </div>  <!-- end of div for ground ham info -->
        {{/if}}
        <br>
        {{#if setup.system.calculate_time_evolution}}

            <br>
            <div id="dynamic_ham_info">

                <h4>Dynamic Hamiltonian</h4>
                {{#if setup.hamiltonian.dynamic.tex_str}}
                    <p class='text-center'>
                        \( {{setup.hamiltonian.dynamic.tex_str}} \)
                    </p>
                {{/if}}
                <table class="table table-striped table-bordered">
                    <thead>
                        <th>Term type</th>
                        <th>Spatial dependence</th>
                        <th>Temporal dependence</th>
                    </thead>
                    <tbody>

                    {{#setup.hamiltonian.dynamic.terms}}

                        <tr>
                            <th class="text-nowrap" scope="row"><div data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="{{function_description}}">\( {{function_tex_str}} \)</div></th>
                            <td>{{spatial_function.function_description}} \( {{spatial_function.function_tex_str}} \)
                            <ul>
                            {{#spatial_function.parameters}}
                            <li> \( {{parameter_tex_str}} = {{value}} \) </li>
                            {{/spatial_function.parameters}}
                            </ul>
                            </td>
                            <td>{{temporal_function.function_description}} \( {{temporal_function.function_tex_str}} \)
                            <ul>
                            {{#temporal_function.parameters}}
                            <li> \( {{parameter_tex_str}} = {{value}} \) </li>
                            {{/temporal_function.parameters}}
                            </ul>
                            </td>
                        </tr>
                    {{/setup.hamiltonian.dynamic.terms}}


                    </tbody>
                </table>

            </div> <!-- end of div for dynamic ham info -->

            <div id="initial_state_info">

                <h4>Initial state</h4>

                {{#if setup.initial_state.applied_mpos}}

                    <p class='text-center'>
                        \( {{setup.initial_state.tex_strs.product_str}} \), where
                    </p>

                    <p class='text-center'>
                        \( | \Psi_{\rm base} \rangle = {{setup.initial_state.base_state.function_tex_str}} \), and
                    </p>

                    {{#each setup.initial_state.tex_strs.modifier_fns_strs}}
                        <p class='text-center'>
                            \( {{this}} \)
                        </p>
                    {{/each}}

                    {{#each setup.initial_state.applied_mpos}}
                        <table class="table table-striped table-bordered">
                            <caption>\( \hat{O}_{{plusOne @index}} \) details</caption></caption>
                            <thead>
                                <th>Function</th>
                                <th>Spatial dependence</th>
                            </thead>
                            <tbody>

                            {{#applied_operators}}

                                <tr>
                                    <th class="text-nowrap" scope="row">\( f_{{plusOne @index}} (j) \)</th>
                                    <td>{{spatial_function.function_description}} \( {{spatial_function.function_tex_str}} \)
                                    <ul>
                                    {{#spatial_function.parameters}}
                                    <li> \( {{parameter_tex_str}} = {{value}} \) </li>
                                    {{/spatial_function.parameters}}
                                    </ul>
                                    </td>
                                </tr>
                            {{/applied_operators}}


                            </tbody>
                        </table>
                    {{/each}}

                {{else}}
                    \( | \Psi_{\rm start} \rangle = {{setup.initial_state.base_state.function_tex_str}} \)
                {{/if}}

            </div> <!-- end of div for initial state info -->

        {{/if}}

        </div> <!-- end of div for RH col -->

    </div> <!-- end of row div -->

</script>

{% endverbatim %}
