{% verbatim %}

<script id="expectation-operators-single-site-template" type="text/x-handlebars-template"> 

		<div class="row">
			{{#operators}}
		        <div class="col-xs-3" style="margin-bottom: 10px;" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{function_description}}">
		            <button type="button" 
		             class="btn btn-default form-control expectation-operator-btn"
		             data-expectation-operator-id="{{operator_id}}">
		                 \[{{function_tex_str}}\]
		            </button>
		        </div>
	        {{/operators}}

	    </div>

</script>

<script id="expectation-operators-two-site-template" type="text/x-handlebars-template"> 

		<div class="row">
			{{#operators}}
		        <div class="col-xs-6 col-sm-3" style="margin-bottom: 20px;" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{function_description}}">
		            <button type="button" 
		             class="btn btn-default form-control expectation-operator-btn"
		             data-expectation-operator-id="{{operator_id}}">
		                 \[{{function_tex_str}}\]
		            </button>
		            <select 
		            	class="form-control two-site-expectation-type-choice" 
		            	data-expectation-operator-id="{{operator_id}}">
					  <option value="nearest neighbor">Nearest neighbor pairs</option>
					  <option value="center all other">Centre to all other</option>
					  <option value="all other pairs">All pairs</option>
					</select>
		        </div>
	        {{/operators}}

	    </div>

</script>

{% endverbatim %}
