{% verbatim %}

<script id="expectation_operators-template" type="text/x-handlebars-template"> 
        
		<div class="row">
			{{#operators}}
		        <div class="col-md-3">
		            <button type="button" 
		             class="btn btn-default form-control expectation-operator-btn"
		              data-expectation-operator-id="{{operator_id}}">\[{{function_tex_str}}\]
		              	<br>
		              	<i>{{function_description}}</i></button>
		        </div>
	        {{/operators}}
	        
	    </div>

</script>

{% endverbatim %}