{% verbatim %}

<!-- A Hamiltonian term representation -->
<script id="hamiltonian-term-template" type="text/x-handlebars-template"> 

    <div id="hamiltonian-term-{{uuid}}" 
         data-hamiltonian-term-id="{{uuid}}" 
         data-hamiltonian-operator-id="{{operator_id}}"
         data-index={{index}}
         class="row hamiltonian-term">

    <div class="col-sm-1 hidden-xs" style="padding-top: 70px;">

        <i class="fa fa-{{sum-or-product sum_or_product}}-circle fa-5x"></i> 

    </div>

    <div class="col-xs-12 col-sm-11 panel panel-default alert alert-dismissible">

        <div class="panel-heading">

            <a class="btn btn-danger remove-hamiltonian-term-btn">
                <i class="fa fa-trash-o fa-lg"></i>
            </a>

            <strong>
                {{function_description}} (\( {{function_tex_str}} \)) - 
            </strong>
            <br><br>
            Specify form of \( f_{{index}} (j{{#if include_temporal_function}}, t{{/if}}) \)

        </div>

        <div class="panel-body">

            <div class="row">

                <!--<div class="col-md-3">-->

                    <!--<h3>{{function_description}}</h3>-->
                    <!--<p>\[ {{function_tex_str}} \]</p>-->

                    <!--<btn class="btn btn-danger remove-hamiltonian-term-btn form-control">-->
                        <!--<i class="fa fa-trash-o fa-lg"></i> Remove-->
                    <!--</btn>-->

                <!--</div>-->

                <div class="col-md-12">

                    <div class="row">

                        <div class="col-sm-1"></div>

                        <div class="col-sm-5 spatial_parameter_input_div">

                            <h4>Spatial function <a tabindex="0" 
                               data-toggle="popover" 
                               data-trigger="focus" 
                               data-html="true"
                               data-container="body"
                               data-placement="top"
                               data-content="The spatial function is defined in terms of the site number j. For two-site terms the smallest of the two site numbers is used to set the parameter."
                            >
                                <i class="fa fa-question-circle fa-lg"></i></a></h4>

                            {{spatial_function_input spatial_function}}

                        </div>

                        <div class="col-md-1"></div>

                        {{#if temporal_function}}

                            <div class="col-sm-5 temporal_parameter_input_div">

                                <h4>Temporal function <a tabindex="0" 
                                   data-toggle="popover" 
                                   data-trigger="focus" 
                                   data-html="true"
                                   data-container="body"
                                   data-placement="top"
                                   data-content="The temporal function is defined in terms of the dimensionless time t, where the time is given by the time step count multiplied by the time step size dt."
                                >
                                <i class="fa fa-question-circle fa-lg"></i></a></h4>

                                {{temporal_function_input temporal_function}}

                            </div>

                        {{/if}}

                    </div>

                </div>  <!-- End of spatial definitions box -->

            </div>  <!-- End of row -->

        </div>  <!-- End of panel body -->

    </div>

    </div>  <!-- End of A Hamiltonian term representation -->

</script>

<!-- Just the little dropdown to choose functions -->
<script id="spatial-or-temporal-function-input-template" type="text/x-handlebars-template"> 

    <div class="row">

        <select class="spatial-or-temporal-function-btn-group form-control">

            {{#all_function_info.all_functions.fns}}

                <option value="{{id}}" 
                        class="spatial-or-temporal-fn-choice" 
                        data-function-id="{{id}}"
                        data-function-type="{{type}}"
                        {{#if this_is_default_spatial_fn }}selected="selected"{{/if}}
                        >

                    {{function_description}}

                </option>

            {{/all_function_info.all_functions.fns}}

        </select>

        {{all_function_info.default_spatial_function.id}}

    </div>

    <div class="row">

        <div class="spatial_or_temporal_function_parameter_input_form">

            {{subrender-spatial-function-form all_function_info.default_spatial_function}}

        </div>

    </div>

</script>

<script id="spatial-or-temporal-function-parameter-input-template" type="text/x-handlebars-template"> 

    <hr class="visible-xs">

    <p>Form: \( {{function_tex_str}} \) </p>

    <form class="form-horizontal" role="form">
      {{#parameters}}
        <div class="form-group">
            <label for="inputEmail3" class="col-xs-2 control-label">\({{parameter_tex_str}}\)</label>
          <div class="col-xs-10">
              <input type="number" class="form-control" id="parameter_{{parameter_id}}" data-parameter-id="{{parameter_id}}" placeholder="{{#if value}}{{value}}{{else}}{{parameter_default_value}}{{/if}}" value="{{#if value}}{{value}}{{else}}{{parameter_default_value}}{{/if}}">
          </div>
        </div>
      {{/parameters}}
    </form>

</script>

<!-- This bit renders the components necessary for selecting a spatial function, 
and fills out the form for a given spatial function-->
<script>

    Handlebars.registerHelper(
        "spatial_function_input", 
        function(spatial_function) {

            var source = $("#spatial-or-temporal-function-input-template").html();

            var template = Handlebars.compile(source);

            window.spatial_fns = {'fns': _.each(
                window.spatial_fns.fns,
                function (el) {
                    el['this_is_default_spatial_fn'] = (spatial_function.id == el.id);
                }
            )};

            return new Handlebars.SafeString(
            template({
                    'all_function_info': {
                        'all_functions': window.spatial_fns, 
                        'default_spatial_function': spatial_function
                    }
                })
            );

        }
    );

    Handlebars.registerHelper(
        "spatial_function_default_option",
        function(spatial_function, default_spatial_function) {
            if (spatial_function.id == default_spatial_function.id) {
                return 'selected="selected"';
            }
        }
    );

    Handlebars.registerHelper(
        "temporal_function_input", 
        function(temporal_function) {

            var source = $("#spatial-or-temporal-function-input-template").html();

            console.log("temporal_function passed to temporal_function_input = ");
            console.log(temporal_function);

            console.log("Hi 3");

            var template = Handlebars.compile(source);

            console.log("Hi 4");

            return new Handlebars.SafeString(
            template({
                    'all_function_info': {
                        'all_functions': window.temporal_fns, 
                        'default_temporal_function': temporal_function
                    }
                })
            );

        }
    );

    Handlebars.registerHelper(
        "subrender-spatial-function-form", 
        function(spatial_function) {
            var template = Handlebars.compile($("#spatial-or-temporal-function-parameter-input-template").html());
            return new Handlebars.SafeString(template(spatial_function));
        }
    );

    Handlebars.registerHelper(
        "subrender-temporal-function-form", 
        function(temporal_function) {
            var template = Handlebars.compile($("#spatial-or-temporal-function-parameter-input-template").html());
            return new Handlebars.SafeString(template(temporal_function));
        }
    );

     Handlebars.registerHelper(
        "sum-or-product", 
        function(sum_or_product) {
            if (sum_or_product == 'product') {

                return 'times';

            } else {

                return 'plus';

            }
        }
     );

</script>



{% endverbatim %}
