{% verbatim %}

<script id="spatial-function-parameter-input-template" async=false defer=false type="text/x-handlebars-template"> 
  <p>\[ {{function_tex_str}} \] </p>
  <form class="form-horizontal" role="form">
    {{#parameters}}
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">{{parameter_tex_str}}</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="parameter_{{parameter_id}}" data-parameter-id="{{parameter_id}}" placeholder="0" value="0">            
        </div>
      </div>
    {{/parameters}}
  </form>
</script>

<script id="spatial-function-input-template" type="text/x-handlebars-template"> 

  <div id="spatial_function_input_skeleton_row" class="row">

    <div class="col-md-4"> <!-- Define the kind of spatial dependence-->

      <h4>Spatial function <a tabindex="0" 
           data-toggle="popover" 
           data-trigger="focus" 
           data-html="true"
           data-container="body"
           data-placement="top"
           data-content="The spatial function is defined in terms of the site number j. For two-site terms the smallest of the two site numbers is used to set the parameter."
        >
            <i class="fa fa-question-circle fa-lg"></i></a></h4>

      <select class="spatial-function-btn-group">
        {{#spatial_fns}}
            <option value="{{id}}" class="spatial-fn-choice" data-spatial-function-id="{{id}}">
              {{function_description}}
            </option>
        {{/spatial_fns}}
      </select>

    </div>  <!-- End of define the kind of spatial dependence-->

    <div class="col-md-8">  <!-- Spatial dependence parameters -->

      <h4>Spatial Parameters</h4>
      <div class="spatial_function_parameter_input_form">
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">k</label>
            <div class="col-sm-10">

              <input type="number" class="form-control" id="parameter_1" data-parameter-id="1" placeholder="0" value="0">            
            </div>
          </div>
        </form>

      </div>

    </div>  <!-- End of Spatial dependence parameters -->

  </div>

</script>

<script>


    Handlebars.registerHelper("spatial_function_input", function(id) {
        
        var source = $("#spatial-function-input-template").html();
        var template = Handlebars.compile(source);
        
        // return new Handlebars.SafeString(template(window.spatial_fns));
        return new Handlebars.SafeString(template(window.spatial_fns));

    });

</script>

<script id="hamiltonian-term-template" type="text/x-handlebars-template"> 

<div id="hamiltonian-term-{{uuid}}" data-hamiltonian-term-id="{{uuid}}" data-hamiltonian-operator-id="{{operator_id}}" class="row hamiltonian-term">  <!-- A Hamiltonian term representation -->
  <div class="col-md-1" style="padding-top: 70px;">
    <i class="fa fa-plus-circle fa-5x"></i> 
  </div>

  <div class="col-md-11">

    <div class="panel panel-default alert alert-dismissible">
      <div class="panel-body">
        
        <div class="row">
          
          <div class="col-md-3">
            <h3>{{function_description}}</h3>
            <p>\[ {{function_tex_str}} \]</p>
            <button type="button" class="btn btn-danger form-control remove-hamiltonian-term-btn">Remove</button>
          </div>
          
          <div class="col-md-9">
            <h3>Spatial dependence</h3>
            
            {{spatial_function_input uuid}}

          </div>  <!-- End of spatial definitions box -->

        </div>  <!-- End of row -->

      </div>  <!-- End of panel body -->

    </div>  <!-- End of panel -->

  </div>

</div>  <!-- End of A Hamiltonian term representation -->

</script>

{% endverbatim %}
