{% verbatim %}

<!-- Template for when we add a new sum or product modifier -->
<script id="initial-state-modifier-sum-or-product-template" type="text/x-handlebars-template"> 

    <div class="row">

        <div class="panel panel-default initial_state_modifier_sum_or_product"
             data-sum-or-product="{{sum_or_product}}">

            <div class="panel-heading">
                <h3 class="panel-title">
                    <btn class="btn btn-danger remove-initial-state-modifier-btn">
                      <i class="fa fa-trash-o fa-lg"></i> Remove
                    </btn>
                    Choose modifier term(s) for {{sum-or-product-str sum_or_product}} operator
                </h3>
            </div>

            <div class="panel-body">

                <div class="initial_state_modifier_operators_container">
                </div>

                <hr>

                <!-- When an operator is chosen we render spatial function details 
                for that operator in here, adding -->
                <div class="initial_state_modifier_operators_terms">
                </div>

            </div>

        </div>

    </div>

</script>


<script>

     Handlebars.registerHelper(
        "sum-or-product-str", 
        function(sum_or_product) {
            if (sum_or_product == 'product') {

                return 'product';

            } else {

                return 'sum';

            }
        }
     );

</script>

{% endverbatim %}
