{% verbatim %}

<script>

    Handlebars.registerHelper("btn_disabled", function(status) {

        if ( (status == 'running') || (status == 'error') || (status == 'saved') ) {

            return '" disabled="disabled" ';

        } else {

            return '';

        }

    });

    Handlebars.registerHelper("timestamp_to_human_date", function(timestamp) {

        if ( (timestamp === null) || (timestamp == 0) || (timestamp == false) ) {

            return "none";

        } else {

            var date = new Date(timestamp*1000);

            return date.toLocaleString();

        }

    });

    Handlebars.registerHelper("render_log_output", function(status, log, timestamp) {
        if (status == 'running') {
            
            return new Handlebars.SafeString("<span class='text-primary'>" + log + "</span>");
            
        } else if (status == 'finished') {
            
            var date = new Date(timestamp*1000);
            
            return new Handlebars.SafeString("Finished: " + date.toLocaleString());
            
        } else if (status == 'error') {
            
            return new Handlebars.SafeString("<span class='text-danger'> Error! </span>");
            
        } else if (status == 'saved') {
            return new Handlebars.SafeString("Saved - press <i class='fa fa-play'></i> to run")
        }

        tnt.render_mathjax();
    }
    );

    Handlebars.registerHelper("render_action_button", function(status, calculation_id) {

        if (status == 'running') {

            var action_button_classes = 'btn-default download-calculation-button';
            var action_button_data_loading_text = 'Starting...';
            var action_button_text = 'Running';
            var action_button_icon = 'fa-clock-o';
        } else if (status == 'saved') {

            var action_button_classes = 'btn-info run-calculation-button';
            var action_button_data_loading_text = 'Starting...';
            var action_button_text = 'Run';
            var action_button_icon = 'fa-play';
        } else if (status == 'finished') {

            var action_button_classes = 'btn-default explore-calculation-button';
            var action_button_data_loading_text = 'Exploring...';
            var action_button_text = 'Explore';
            var action_button_icon = 'fa-area-chart';
        } else if (status == 'error') {

            var action_button_classes = 'btn-default download-calculation-button';
            var action_button_data_loading_text = 'Error!';
            var action_button_text = 'Error!';
            var action_button_icon = 'fa-exclamation-triangle';

        }

        var action_button_html = '<a role="button" class="btn calculation-action-btns ' + action_button_classes + 
            '" data-loading-text="' + action_button_data_loading_text + 
            '" data-calculation-id="' + calculation_id;

        // Want some buttons to be disabled 
        if ( (status == 'error') || (status == 'running') ) {
            action_button_html = action_button_html + '" disabled="disabled" ';
        }

        action_button_html = action_button_html + '"  data-toggle="tooltip" data-placement="top" title="' + action_button_text + '">' + '<i class="fa ' + action_button_icon + ' fa-lg"></i></a>';

        return new Handlebars.SafeString(action_button_html);

    });

</script>

<script id="user-calculations-template" type="text/x-handlebars-template"> 
    {{#calculations}}
    <div class="panel panel-default panel-calculation-info" data-calculation-id="{{meta_info.id}}">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="input-group update_name_div">
                    <input type="text" class="form-control" placeholder="{{meta_info.name}}" value="{{meta_info.name}}">
                    <span class="input-group-btn">
                    <button class="btn btn-default update_calculation_name_btn" type="button" data-calculation-id="{{meta_info.id}}">
                    Update name
                    </button>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 text-right">
            
                {{render_action_button meta_info.status meta_info.id}}
            
                <a href="/calculation/parameters/{{meta_info.id}}" role="button" class="btn btn-default" style="display: inline-block;" data-toggle="tooltip" data-placement="top" title="Parameters">
                <i class="fa fa-list fa-lg"></i>
                </a>
                
                <a href="/new_calculation/{{meta_info.id}}" role="button" class="btn btn-default calculation-action-btns" data-toggle="tooltip" data-placement="top" title="Use as template">
                <i class="fa fa-files-o fa-lg"></i>
                </a>
                
                <a role="button" style="color: white;" href="#" class="btn btn-danger btn-delete-calculation" data-calculation-id="{{meta_info.id}}" style="display: inline-block;" data-toggle="tooltip" data-placement="top" title="Delete">
                <i class="fa fa-trash-o fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12 pull-left">
                    <p>Created: {{timestamp_to_human_date meta_info.date_created}}</p>
            </div>
            <div class="col-sm-4 col-xs-12 center-block">
                <p>Run: {{timestamp_to_human_date meta_info.date_run}}</p>
            </div>
            <div class="col-sm-4 col-xs-12 pull-right">
                <p>{{render_log_output meta_info.status meta_info.log meta_info.finished}}</p>
            </div>
        </div> <!-- End of panel body -->
    </div>
    </div>  <!-- End of panel -->

{{/calculations}}

</script>

{% endverbatim %}
