{% extends "dashboard/page_template.html" %}

{% block content %}


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Calculation parameter summary</h3>
  </div>

  <div class="panel-body">

    <div id="loading_parameters_msg" class="alert alert-info" role="alert">
        Loading parameters...
    </div>

    <div class="row">

        <div class="col-md-4">
            <a href="/api/v1.0/calculation/show/{{calculation_id}}" role="button" class="btn btn-default form-control ">See full parameters</a>
        </div>

        <div class="col-md-4">
            <a href="/media/{{calculation_id}}.json" class="btn btn-default  form-control" role="button">Download JSON results</a>
        </div>

        <div class="col-md-4">
            <a href="/media/{{calculation_id}}/{{calculation_id}}.mat" class="btn btn-default form-control" role="button">Download MAT results</a>
        </div>

    </div>


    <hr>

    <div id="parameter_summary">
    </div>

  </div>  <!-- End of panel body -->

</div>  <!-- End of panel -->

{% endblock %} <!-- End of block content -->

{% block end_of_body_scripts %}

  <script src="{{ STATIC_URL }}dashboard/js/highcharts.js"></script>

  <script src="{{ STATIC_URL }}dashboard/js/plotting_fns.js"></script>

  <script>
    window.calculation_id = "{{calculation_id}}"; // Django passes this in

    $.get(
        "/api/v1.0/calculation/show/{{calculation_id}}", 
        function(data) {
            window.calculation = data.calculation;
        }
    ).done(
        function() {

            console.log("Done loading parameters for calculation {{calculation_id}}");

            $("#loading_parameters_msg").css("display", "none");

            var source = $("#calculation-parameters-template").html();

            var template = Handlebars.compile(source);

            $("#parameter_summary")
                .html(template(window.calculation));

        }
    );

  </script>

{% endblock %}

{% block handlebars_scripts %}

    {% include "dashboard/handlebars_templates/calculation_parameters_template.html" %}

{% endblock %}  <!-- End of block handlebars_scripts -->
