{% extends "dashboard/page_template.html" %}

{% block content %}

  {% block handlebars_scripts %}
        
  {% endblock %}  <!-- End of block handlebars_scripts -->

<div class="jumbotron">
  <h1>Your calculations</h1>
  <p>Review your previous calculations or set up a new one</p>
  <p><a href="/faq/" class="btn btn-primary btn-lg" role="button">Or, read our FAQ</a></p>
</div>

{% endblock %} <!-- End of block content -->

{% block end_of_body_scripts %}
  <script>
  
    
  </script>

{% endblock %}