{% extends "dashboard/page_template.html" %}

{% block content %}

<div class="jumbotron">
  <h1>Examples</h1>
  <p>There are a number of predefined templates that you can use to explore the different features of the TNTgo interface, which can be selected on the first page of defining a new calculation. Click on a template name below to find out more about it.<p>
  <p>Selecting a template will pre-fill the values in the TNTgo interface. If you are simply interested in exploring the capabilities of TNTgo, you can run them without making any changes. Alternatively you can use them as a convenient basis for your own calculations, and make changes such as adding Hamiltonian terms or explectation values to calculate, or changing the physical dimension or system size.</p>
  
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Spin: S=1 Heisenberg Chain
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      <p> This sets up a similar calculation to that described in <a href="http://link.aps.org/doi/10.1103/PhysRevLett.93.076401" target="_blank">S.R. White and A.E. Feiguin (2004)</a>, but on a smaller scale due to the size limits in TNTgo. 
      </p>
      <p>
      First a ground state calculation is set up for a system with \(S=1\) and the Heisenberg Hamiltonian 
      \[
      H_g = \sum_{j=0}^{L-2} \left \{ \frac{1}{2}\left (\hat{S}_j^+ \hat{S}_{j+1}^- + \mathrm{h.c.}\right ) + \hat{S}_j^z \hat{S}_{j+1}^z \right \}.
      \]
      Note the form of the terms in the Hamiltonian, which are of course equivalent to \( \hat{\mathbf{S}}_j\cdot\hat{\mathbf{S}}_{j+1} \). In this template quantum number conservation is turned on by setting a total spin of zero (since we know the ground state lies in this spin sector). This then requires the Hamiltonian be defined in terms of U(1) invariant operators only, i.e. in terms of hopping and \(z\)-component of spin, rather than as its equivalent of sum of coupling terms in the three axes.
      </p>
      <p>
      The ground state is used as a base state for time evolution, but first modified it by applying the operator \(\hat{S}^+\) on site 20. We do this by applying a site-wide operator, with the delta function chosen as the spatial function. The system is then evolved under the same Heisenberg Hamniltonian as defined above, and like White and Feiguin the local magnetisation is chosen as an observable to track. In addition, the template is set to track the overlap with the ground state and initial state as a function of time.
      </p>
      <p>
      Setting this simulation to run leads to the following results:
      <div class="row">
      <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail" class="expval-img-thumbnail" data-toggle="modal" data-target="#myModal" data-url="/static/dashboard/img/examples/heisenberg_S_1_gs.png">
      <img src="/static/dashboard/img/examples/heisenberg_S_1_gs.png" alt="Ground state expectation value of magnetisation" class="img-responsive">
      </a>
      </div>
      <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail" class="expval-img-thumbnail" data-toggle="modal" data-target="#myModal" data-url="/static/dashboard/img/examples/heisenberg_S_1_evolved.png">
      <img src="/static/dashboard/img/examples/heisenberg_S_1_evolved.png" alt="Time-evolved expectation value of magnetisation" class="img-responsive">
      </a>
      </div>
      <div class="col-xs-6 col-md-3">
      <a h<a href="#" class="thumbnail" class="expval-img-thumbnail" data-toggle="modal" data-target="#myModal" data-url="/static/dashboard/img/examples/heisenberg_S_1_overlap_is.png">
      <img src="/static/dashboard/img/examples/heisenberg_S_1_overlap_is.png" alt="Overlap between initial state and evolved state" class="img-responsive">
      </a>
      </div>
      <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail" class="expval-img-thumbnail" data-toggle="modal" data-target="#myModal" data-url="/static/dashboard/img/examples/heisenberg_S_1_truncerr.png">
      <img src="/static/dashboard/img/examples/heisenberg_S_1_truncerr.png" alt="Truncation error as a function of time" class="img-responsive">
      </a>
      </div>
      </div>
      The first thing to note is the alternating magnetisation in the ground state due to the finite size of the system. This is decribed in <a href="http://link.aps.org/doi/10.1103/PhysRevB.48.10345" target="_blank">S. R. White (1993)</a>, as well as how to 'soften' the boundary effects by changing the coupling on the boundaries.
      
      As described in White and Feiguin, the localised wave packet at \(t=0\) spreads out at later times to give irregular oscillations. White and Feiguin are able to evolve to longer times due to a larger maximum internal dimension (\(\chi \) is 150, as opposed to 40 used in this calculation), and a larger system size (\(L\) is 200 as opposed to 40 used in this calculation). If you wish to try using the TNT library code to reproduce these system sizes, or go beyond them, please consider installing the TNT library code on your own machines.
      </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Spin: Domain Wall
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
      <p>
      This template creates an initial state with the spins (\(S=1/2\)) on one side of the system pointing up, and the spins on the other side of the system pointing down. This is done using the configuration with all spins pointing down as the base state, then applying a site-wide operator of a product of \(\hat{S}^+\) with a step function as the spatial function.
      <p>
      <p>
      The system is evolved under the \(XXZ\) Hamiltonian, which conserves the total spin. The template is therefore set to conserve this quantity (leading to faster run-times), and the Hamiltonian must then be expressed in terms of U(1) invariant operators only:
      \[
      H_g = \sum_{j=0}^{L-2} \left \{ \frac{1}{2}\left (\hat{S}_j^+ \hat{S}_{j+1}^- + \mathrm{h.c.}\right ) + \Delta\hat{S}_j^z \hat{S}_{j+1}^z \right \}.
      \]
      The anisotropy parameter \(\Delta\) represents the interaction strength, and controls how easily the domain wall breaks up. The default value in the template is 1, but you may wish to try varying this to see the effect on the local magnetisation. The results show the evolution for \(\Delta \) = 0.5, 1 and 2 respectively.
      </p>
      <div class="row">
      <div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail" class="expval-img-thumbnail" data-toggle="modal" data-target="#myModal" data-url="/static/dashboard/img/examples/domain_wall_0.5.png">
      <img src="/static/dashboard/img/examples/domain_wall_0.5.png" alt="Evolution under XXZ Hamiltonian" class="img-responsive">
      </a>
      </div>
      <div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail" class="expval-img-thumbnail" data-toggle="modal" data-target="#myModal" data-url="/static/dashboard/img/examples/domain_wall_1.png">
      <img src="/static/dashboard/img/examples/domain_wall_1.png" alt="Evolution under XXZ Hamiltonian" class="img-responsive">
      </a>
      </div>
      <div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail" class="expval-img-thumbnail" data-toggle="modal" data-target="#myModal" data-url="/static/dashboard/img/examples/domain_wall_2.png">
      <img src="/static/dashboard/img/examples/domain_wall_2.png" alt="Evolution under XXZ Hamiltonian" class="img-responsive">
      </a>
      </div>
      </div>
    </div>
  </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
    <h4 class="panel-title">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Boson: Harmonically trapped superfluid
    </a>
    </h4>
    </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">
    <p>
    This template calculates the ground state of a system of 30 bosons in a 40 site system, under the Bose-Hubbard Hamiltonian with a small interaction \(J/U = 10\) and a harmonic trap:
    \[
    H = \sum_{j=0}^{L-2}  -J\left (\hat{b}_{j}^{\dagger}\hat{b}_{j+1}+\mathrm{h.c.}\right ) + \sum_{j=0}^{L-1} \left \{U\hat{n}_{j}(\hat{n}_{j}-1)/2 + [V(j-j_c)^2-\mu]\hat{n}_j\right \}
    \]
    The size of the chemical potenetial \(\mu\) is defined in the interface by giving an offset to the quadratic spatial function, and \(j_c\) is defined to be the centre of the system, i.e. site 19.5. Since the template specifies that the total boson number should be conserved, and is set to 30, the chemical potential \(\mu\) has no effect other than to offset the ground state energy. However, when number conservation is not turned on its value controls the number of bosons in the ground state, and the value chosen here leads to the same expectation value of total number with and without number conservation turned on.
    </p>
    <p>
    The ground state density and single particle density matrix are calculated and shown below, and to the right the same observables but this time with \(J/U = 1/3\)
    <div class="row">
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail" class="expval-img-thumbnail" data-toggle="modal" data-target="#myModal" data-url="/static/dashboard/img/examples/sfdensity_10.png">
    <img src="/static/dashboard/img/examples/sfdensity_10.png" alt="Density with J/U=10" class="img-responsive">
    </a>
    </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail" class="expval-img-thumbnail" data-toggle="modal" data-target="#myModal" data-url="/static/dashboard/img/examples/sfspdm_10.png">
    <img src="/static/dashboard/img/examples/sfspdm_10.png" alt="Single particle density matrix with J/U=10" class="img-responsive">
    </a>
    </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail" class="expval-img-thumbnail" data-toggle="modal" data-target="#myModal" data-url="/static/dashboard/img/examples/sfdensity_third.png">
    <img src="/static/dashboard/img/examples/sfdensity_third.png" alt="Density with J/U=1/3" class="img-responsive">
    </a>
    </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail" class="expval-img-thumbnail" data-toggle="modal" data-target="#myModal" data-url="/static/dashboard/img/examples/sfspdm_third.png">
    <img src="/static/dashboard/img/examples/sfspdm_third.png" alt="Single particle density matrix with J/U=1/3" class="img-responsive">
    </a>
    </div>
    </div>
    You may wish to try varying the trap strength and interaction parameter to see the effect on the ground state. 
    </p>
    </div>
    </div>
    </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
    <h4 class="panel-title">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
    Boson: Quantum bowling
    </a>
    </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
    <div class="panel-body">
    This sets up a similar to the one described in <a href="http://arxiv.org/abs/1302.2667" target="_blank">M. Ganahl, M. Haque, and H.G. Evertz (2013)</a>. 
    </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title" id="myModalLabel">Full size image</h4>
</div>
<div class="modal-body">
...
</div>
</div>
</div>
</div>

{% endblock %}

{% block end_of_body_scripts %}

<script>

	$("#sidebar_examples").addClass("active");
    
    function(data) {
    $('#myModal').on('show.bs.modal', function (event) {
        var img_link = $(event.relatedTarget); // Button that triggered the modal
        var url = img_link.data('url'); // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        modal.find('.modal-body').html("<img src='" + url + "' class='img-responsive'>");
    });
    }

</script>

{% endblock %}
