{% extends "dashboard/page_template.html" %}

{% block content %}

  {% block handlebars_scripts %}
      {% include "dashboard/handlebars_templates/results_img_array_template.html" %}
  {% endblock %}  <!-- End of block handlebars_scripts -->

<div class="page-header">
  <h1>Results <small> <span id="calculation_name">{{calculation_id}}</span></small>
</h1>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Download results
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/media/{{calculation_id}}.json">As JSON</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/media/{{calculation_id}}/{{calculation_id}}.mat">As MAT</a></li>
      </ul>
    </div>

</div>

<!--<div class="jumbotron">-->
  <!--<h1>Results</h1>-->
  <!--<h3>{{calculation_id}}</h3>-->
  <!--<p>Explore calculated expectation values in the browser, or download full results</p>-->
  <!--<p><a href="/media/{{calculation_id}}.json" class="btn btn-primary btn-lg" role="button">Download JSON results</a></p>-->
  <!--<p><a href="/media/{{calculation_id}}/{{calculation_id}}.mat" class="btn btn-primary btn-lg" role="button">Download MAT results</a></p>-->
<!--</div>-->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Expectation values</h3>
  </div>

  <div class="panel-body">

    <div id="expectation_value_imgs" class="row">

    </div>

  </div>  <!-- End of panel body -->

</div>  <!-- End of panel -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Full size image</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>

{% endblock %} <!-- End of block content -->

{% block end_of_body_scripts %}

  <script src="{{ STATIC_URL }}dashboard/js/highcharts.js"></script>

  <script src="{{ STATIC_URL }}dashboard/js/plotting_fns.js"></script>

  <script>
    window.calculation_id = "{{calculation_id}}"; // Django passes this in

    $.get(
      '/api/v1.0/calculation/img_results_urls/' + window.calculation_id, 
      function(data) {
        console.log("Expectation value img URL data: ");

        console.log(data);

        data['url_data'] = 
            _.filter(
                data.url_data,
                function (el) {
                    return (!tnt.endsWith(el.url, 'mat'));
                }
            );

        console.log("CALCULATION_NAME = \n\n");
        console.log(data.name);

        $("#calculation_name").html(data.name);

        var source = $("#results-img-array-template").html();

        var template = Handlebars.compile(source);

         $("#expectation_value_imgs").html(template(data));

        $('#myModal').on('show.bs.modal', function (event) {
          var img_link = $(event.relatedTarget); // Button that triggered the modal
          var url = img_link.data('url'); // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this);
          modal.find('.modal-body').html("<img src='" + url + "' class='img-responsive'>");
        })

      }
    );

  </script>

{% endblock %}
