{% extends "dashboard/page_template.html" %}

{% block content %}

  {% block handlebars_scripts %}
        
  {% endblock %}  <!-- End of block handlebars_scripts -->

<div class="jumbotron">
  <h1>Results: Calculation name</h1>
  <pExplore calculated expectation values in the browser, or download full results</p>
  <p><a href="#" class="btn btn-primary btn-lg" role="button">Download results</a></p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Available expectation operators</h3>
  </div>

  <div class="panel-body">

    <p>What do you want to plot?</p>

    <div class="row">
        <div class="col-md-3">
            <button
             type="button" 
             class="btn btn-default form-control expectation-operator-btn">
              <i>Description</i>
              \[ \sigma_j^z \]
              <br>
            </button>
        </div>
        <div class="col-md-3">
            <button
             type="button" 
             class="btn btn-default form-control hamiltonian-operator-btn">
              <i>Description</i>
              \[ \sigma_j^x \]
              <br>
            </button>
        </div>
    </div>

    <hr>

    <!--Space for graph -->
    <div id="plot_div" 
         style="min-width: 310px; height: 400px; margin: 0 auto">
    </div>


  </div>  <!-- End of panel body -->

</div>  <!-- End of panel -->



{% endblock %} <!-- End of block content -->

{% block end_of_body_scripts %}
  
  <script src="{{ STATIC_URL }}dashboard/js/highcharts.js"></script>
        
  <script src="{{ STATIC_URL }}dashboard/js/plotting_fns.js"></script>

  <script>
    window.calculation_id = "{{calculation_id}}"; // Django passes this in

    // Pull in this calculation's expectation value results
    $.get(
      "/api/v1.0/hamiltonian_operators", 
      function (data) {
        window.expectation_operators = _.filter(
          data.operators, 
          function (el) {
            return el['use_for_expectation'] == true;
          }
        );
      }
    ).done(function() {
        tnt.load_expectation_val_results(window.calculation_id);
    });

    // var expval_series_data = [tnt.get_data_single_site_expectation_val_fn_time(1, 5, 're')];

    var series_data = {
      name: '\sigma^Z',
      data: [{'x': 1, 'y': 7.0}, {'x': 2, 'y': 6.9}, {'x': 3, 'y': 9.5}, {'x': 4, 'y': 14.5}, {'x': 5, 'y': 18.2}, {'x': 6, 'y': 21.5}, {'x': 7, 'y': 25.2}, {'x': 8, 'y': 26.5}, {'x': 9, 'y': 23.3}, {'x': 10, 'y': 18.3}, {'x': 11, 'y': 13.9}, {'x': 12, 'y': 9.6}]
    };

    // tnt.plot_series(series_data);

  </script>

{% endblock %}