{% extends "dashboard/page_template.html" %}

{% block content %}

<div class="jumbotron">
  <h1>Your calculations</h1>
  <p>Review your previous calculations or set up a new one</p>
  <p><a href="/new_calculation/" class="btn btn-primary btn-lg" role="button">New calculation</a></p>
  <p><a href="/faq/" class="btn btn-primary btn-lg" role="button">Or, read our FAQ</a></p>
</div>

<div id="user_calculations">

  <div class="alert alert-info" role="alert">Loading your calculations...</div>

</div>

{% endblock %}

{% block end_of_body_scripts %}
  <script>
    window.user = {};
    window.user.email = "{{user.email}}";
    window.user.id = "{{user.id}}";
    console.log("Stored logged in user details");

    $.get('/api/v1.0/calculations', 
      function (calculations) {
        
        window.calculations = calculations;

        if (calculations.calculations.length == 0) {
          $("#user_calculations").html("<h1>You don't have any calculations yet</h1><p>They'll appear here once you've set them up</p>");
        } else {
          var source = $("#user-calculations-template").html();
          var template = Handlebars.compile(source);
          $("#user_calculations").html(template(calculations));

          // Attach functions to 'Run...' buttons
          $(".run-calculation-button")
            .click(
              function(el) {
                $(this).button('loading');
                var calculation_id = $(this).data('calculation-id'); 
                console.log("Running calculation " + calculation_id); 
                tnt.run_calculation(calculation_id);
              }
            );

        }

      }
    ).done(function() {
        $(".btn-delete-calculation")
          .click(
            function() {
                
                var this_calculation_info_panel = $(this).closest(".panel-calculation-info");
                var calculation_id = $(this_calculation_info_panel).data("calculation-id");
                console.log(calculation_id);

                $.post(
                  '/api/v1.0/calculation/delete/' + calculation_id, 
                  function (data) { 
                    console.log(data); 
                  }
                ).done(function () {
                  window.location = '/';
                });
            }
        );
    });

    
    
  </script>

{% endblock %}

{% block handlebars_scripts %}

  {% include "dashboard/handlebars_templates/user_calculations_template.html" %}
      
{% endblock %}