<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TNT Library</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fontawesome core CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
     
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

     <!-- custom CSS here -->
    <!-- <link href="/static/dashboard/css/landing_style.css" rel="stylesheet"> -->
</head>
<body>
       <div class="container" >
            <div>
			<div class="hidden-xs" style="padding-top:70px;"></div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " >
                    <div>
                        <p class="text-center"><img src="/static/dashboard/img/tnt_go.png" alt="TNTgo logo"></p>
                        <p class="text-center">
                            Tensor Network Theory (TNT) provides efficient and accurate methods for simulating strongly correlated quantum systems. TNTgo is a web interface for simulation of common Hamiltonian lattice types, provided by the <a href="http://www2.physics.ox.ac.uk/research/quantum-systems-engineering" target="_blank">Dieter Jaksch theory group</a>. It is based on the <a href="http://www.tensornetworktheory.org" target="_blank">TNT library</a>, which contains highly optimised routines for manipulating tensors in the network. 
                        </p>
                    </div>
                </div>

                {% block content %}

                {% endblock %}

                <div class="row text-center">
                          {% block landing_action_button %}
                          {% endblock %}
                </div>
				<br><br>
                <!-- ./ Heading div-->
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                    <div class="col-md-4 col-sm-6">
                        <div class="text-center">
                            <i class="fa fa-cloud fa-5x text-primary"></i>
                            <h4 class="text-primary">Run in the cloud</h4>
                            <p>
                                We run your TNT simulations in the cloud. You don't have to worry about setting up and maintaining the TNT code base or managing resources. 
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" >
                        <div class="text-center">
                            <i class="fa fa-download fa-5x text-primary"></i>
                            <h4 class="text-primary">Download results</h4>
                            <p>
                                You can download all calculation details and expectation value results in a web friendly or MATLAB format for post processing later. 
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" >
                        <div class="text-center">
                            <i class="fa fa-bar-chart-o fa-5x text-primary"></i>
                            <h4 class="text-primary">Interactive results</h4>
                            <p>
                                Explore the results of your calculations in your web browser. Interactively plot and explore the results of your simulations before downloading. 
                            </p>
                        </div>
                    </div>
                    
                </div>
                <!-- ./ Content div-->
            </div>
        </div> 

        </div>


    <!-- /.container -->

   <!--Core JavaScript file  -->
    <script src="/static/dashboard/js/jquery-2.0.3.js"></script>
    <script src="/static/dashboard/js/bootstrap.min.js"></script>
</body>
</html>
