<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TNT Library</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fontawesome core CSS -->
    <!-- <link href="/static/dashboard/css/font-awesome.css" rel="stylesheet"> -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
     
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

     <!-- custom CSS here -->
    <link href="/static/dashboard/css/landing_style.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="htttp://www.binarytheme.com">TNT Library </a>
            </div>
            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#signup">Sign up</a>
                    </li>
                    <li><a href="/faq/">FAQ</a>
                    </li>
                    <li><a href="/login/">Log in</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
       <div class="container" >
            <div >
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " >
                    <div class="text-center top-margin" >
                       <h1>The Tensor Network Theory (TNT) Library</h1>
                        <p class="" style="padding-bottom: 20px;">
                            Tensor Network Theory (TNT) provides efficient and accurate methods for simulating strongly correlated quantum systems. The TNT library contains highly optimised routines for manipulating tensors in the network. The Dieter Jaksch theory group has provided a web interface to allow for simulation of common Hamiltonian lattice types. 
                        </p>
                        <div style="padding-bottom: 30px;" >
                          {% block landing_action_button %}
                          {% endblock %}
                        </div>
                    </div>
                </div>
                <!-- ./ Heading div-->
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                    <div class="col-md-4 col-sm-6">
                        <div class="text-center">
                            <i class="fa fa-cloud fa-5x green-color"></i>
                            <h4>Run in the cloud</h4>
                            <p>
                                We run your TNT simulations in the cloud. You don't have to worry about setting up and maintaining the TNT code base or managing resources. 
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" >
                        <div class="text-center">
                            <i class="fa fa-download fa-5x green-color"></i>
                            <h4>Download results</h4>
                            <p>
                                You can download all calculation details and expectation value results in a web friendly or MATLAB format for post processing later. 
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" >
                        <div class="text-center">
                            <i class="fa fa-bar-chart-o fa-5x green-color"></i>
                            <h4>Interactive results</h4>
                            <p>
                                Explore the results of your calculations in your web browser. Interactively plot and explore the results of your simulations before downloading. 
                            </p>
                        </div>
                    </div>
                    
                </div>
                <!-- ./ Content div-->
            </div>
        </div> 


          {% block content %}

          {% endblock %}

        </div>


    <!-- /.container -->

   <!--Core JavaScript file  -->
    <script src="/static/dashboard/js/jquery-2.0.3.js"></script>
    <script src="/static/dashboard/js/bootstrap.min.js"></script>
</body>
</html>