<div id="new_calculation_define_dynamic_hamiltonian" class="new-calculation-step" style="display: none;">

    <div class="page-header">
    <h1>
        Define your dynamic Hamiltonian <small>

      	<a tabindex="0" 
           data-toggle="popover" 
           data-trigger="focus" 
           data-content="This is the Hamiltonian controlling the system as it evolves from your chosen initial state. If you specified a ground state calculation, this Hamiltonian defaults to the Hamiltonian you chose to calculate the ground state. "
        >
            <i class="fa fa-question-circle fa-lg"></i>
        </a>

        </small>

    </h1>
    </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Available operators</h3>
    </div>

    <div class="panel-body">

      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%;">
            Setup progress
        </div>
      </div>

      <p>Select from the following menu to add another Hamiltonian term, then customise it by choosing a functional form for its coefficients (defaults to constant across the system). 
      Each term will be used to form the Hamiltonian as 
      \[ 
      H = \sum_{j=0}^{L-1}\sum_o^{n_o}f_{o}(j)g_{o}(t)\hat{o}_{j} + \sum_{j=0}^{L-2}\sum_o^{n_n}f_{o}(j)g_{o}(t)\hat{o}_{j,j+1},
      \]
      where there are \( n_o \) onsite terms \( \hat{o}_{j} \), \( n_n \) nearest-neighbour two-site terms \( \hat{o}_{j,j+1} \), 
      and where \( f_{o}(j), g_{o}(t) \) are the chosen spatial and temporal functions respectively for the onsite or two-site term.
      </p>

      <div id="new_calculation_available_dynamic_hamiltonian_operators">

      </div>

      <hr>


      <div id="no_dynamic_hamiltonian_terms_added_yet_warning" class="alert alert-info no-terms-added" role="alert">You haven't added any terms to the Hamiltonian yet!</div>

      <div id="dynamic_hamiltonian_terms_container_super" class="hamiltonian_terms_container_super">

        <p>

            <btn class="btn btn-danger remove-all-terms-btn">
                <i class="fa fa-trash-o fa-lg"></i> Remove all terms
            </btn>
            <span id="dynamic_hamiltonian_tex_str" class="hamiltonian_tex_str"></span>

        </p>


        <div id="dynamic_hamiltonian_terms_container" class="hamiltonian_terms_container">
        </div>

      </div>

      <hr>

      <div class="row new-calculation-step-navigation">  <!-- back next controls -->
          <div class="col-md-6">
              <button type="button" class="btn btn-default btn-back-step btn-back-step form-control ">Back</button>
          </div>

          <div class="col-md-6">
              <button type="button" class="btn btn-success btn-next-step form-control ">Next</button>
          </div>
      </div>  <!-- End of back next controls -->

    </div>  <!-- End of panel body -->

  </div>  <!-- End of panel -->

</div>  <!-- End of div new_calculation_define_dynamic_hamiltonian-->

