{% extends "dashboard/page_template.html" %}

{% block content %}

<div id="new_calculation_basic_setup" class="new-calculation-step" style="display: none;">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Basic system setup</h3>
    </div>

    <div class="panel-body">

      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100" style="width: 14%;">
            Setup progress
        </div>
      </div>

      <h4>Calculation name
      	<a tabindex="0" 
           data-toggle="popover" 
           data-trigger="focus" 
           data-content="You can name your calculation, otherwise leave it blank and let us provide a random default for you. You can also edit the name of your calculation at a later date."
        >
            <i class="fa fa-question-circle fa-lg"></i>
        </a>

      </h4>
      <p> </p>
      <input class="form-control" id="calculation_name" type="text" class="" placeholder="Leave blank to generate random default" value="">

      <hr>

      <h4>
        System type 
        <a tabindex="0" 
           data-toggle="popover" 
           data-trigger="focus" 
           data-content="Choose the type of system you want to simulate. Currently you can choose from a spin system (i.e. a spin of magnitude S on each site), or a bosonic system (i.e. with n spinless bosons on each site). The ability to choose fermionic systems will be available soon."
        >
            <i class="fa fa-question-circle fa-lg"></i>
        </a>
      </h4>

      <p></p>

      <div class="row">
          <div class="col-md-4">
              <button type="button" data-system-type="spin" class="btn btn-system-type btn-default form-control active">Spin</button>
          </div>

          <div class="col-md-4">
              <button type="button" data-system-type="bosonic" class="btn btn-system-type btn-default form-control">Bosonic </button>
          </div>

          <div class="col-md-4">
              <button type="button" data-system-type="fermionic" class="btn btn-system-type btn-default form-control" disabled="disabled">Fermionic <span class="text-warning">(Coming soon)</span></button>
          </div>
      </div>


      <hr>

      <div class="row">

        <div class="col-md-4">

            <div id="system_type_extra_info_spins" style="display: block;" class="system_type_extra_info">

                <h4>Physical dimension \( 2S \) <a tabindex="0" 
           data-toggle="popover" 
           data-placement="top"
           data-trigger="focus" 
           data-content="Choose the twice magnitude of the spin (i.e. for a spin 1/2 system, choose 1). Note larger values result in longer run times."
        >
            <i class="fa fa-question-circle fa-lg"></i>
        </a></h4>


                        <select id="system_type_extra_info_spins_choice" class="form-control">

                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>

                        </select>


            </div>

            <div id="system_type_extra_info_bosons" style="display: none;" class="system_type_extra_info">

                <h4>Physical dimension \( n_{\mathrm{max}} \) <a tabindex="0" 
           data-toggle="popover" 
           data-placement="top"
           data-trigger="focus" 
           data-content="Choose the maximum number of bosons per site. Note larger values result in longer run times."
        >
            <i class="fa fa-question-circle fa-lg"></i>
        </a></h4>

                <select id="system_type_extra_info_bosons_choice" class="form-control">

                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select>

            </div>

            <div id="system_type_extra_info_fermions" style="display: none;" class="system_type_extra_info">

                <h4>Physical dimension</h4>
                <p>Are these fermions spinless, or spin one half?</p>

                <div id="fermions_spinless_choice" class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="radio" name="options" data-fermion-type="spinless">Spinless
                </label>
                <label class="btn btn-primary active">
                    <input type="radio" name="options" data-fermion-type="spin_half" checked>Spin 1 / 2
                </label>
                </div>

            </div>

        </div>

        <div class="col-md-4">

            <h4>
                System size \( L \)
                <a tabindex="0" 
                data-toggle="popover" 
                data-placement="top"
                data-trigger="focus" 
                data-content="Choose the number of sites in your system. The system will be formed of a 1D chain with open boundary conditions, and must have between 2 and 40 sites."
                >
                    <i class="fa fa-question-circle fa-lg"></i>
                </a>
            </h4>

                    <select id="system_size_choice" class="form-control">

                    </select>

        </div>

        <div class="col-md-4">

            <h4>
                Truncation parameter \( \chi \)
                <a tabindex="0" 
                data-toggle="popover" 
                data-placement="top"
                data-trigger="focus" 
                data-content="Choose an upper bound for \( \chi \). This parameter controls the degree of quantum correlations the simulation captures. A larger \( \chi \) will mean a longer run-time but a more accurate calculation. The maximum allowed value is 40."
                >
                <i class="fa fa-question-circle fa-lg"></i>
                </a>
            </h4>

                    <select id="chi_choice" class="form-control">

                    </select>

        </div>

    </div>


      <hr>

      <div class="row new-calculation-step-navigation">  <!-- back next controls -->
          <div class="col-md-6">
              <button type="button" disabled="disabled" class="btn btn-default btn-back-step form-control btn-back-step">Back</button>
          </div>

          <div class="col-md-6">
              <button type="button" class="btn btn-success btn-next-step form-control ">Next</button>
          </div>
      </div>  <!-- End of back next controls -->

    </div>
  </div>

</div> <!-- End of div new_calculation_basic_setup -->

<!-- Ground state calculation specification -->
<div id="new_calculation_ground_state" class="new-calculation-step" style="display: none;" >

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Ground state calculation</h3>
    </div>

    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width: 42%;">
          Setup progress
      </div>
    </div>

    <div class="panel-body">
      
      <h4>Calculate ground state
      <a tabindex="0" 
                    data-toggle="popover" 
                    data-trigger="focus" 
                    data-content="Choose Yes to calculate the energy of the ground state and any onsite and two-site expectation values you choose. The calculated ground state can also be used to generate the starting state for time evolution, and for overlap calculations with the time-evolved state."
                    >
                        <i class="fa fa-question-circle fa-lg"></i>
                    </a>
                    	
                    </h4>

      <div id="ground_state_calculation_choice" class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
          <input type="radio" name="options" data-calculate-ground-state=1>Yes
        </label>
        <label class="btn btn-primary active">
          <input type="radio" name="options" data-calculate-ground-state=0 checked>No
        </label>
      </div>

      <hr>

      <div id="ground_state_extra_info_specification" style="display: none;">

        <div class="row">

            <div class="col-md-6">


                <h4>Precision

                    <a tabindex="0" 
                    data-toggle="popover" 
                    data-trigger="focus" 
                    data-content="Enter the precision with which you want to find the ground state. The number below is a convergence parameter - if the ground state energy on successive 'sweeps' do not differ by more than this absolute amount, the calculation is stopped. "
                    >
                        <i class="fa fa-question-circle fa-lg"></i>
                    </a>

                </h4>

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="input_ground_state_precision_choice" class="col-sm-4 control-label">
                            \( \mathrm{log}_{10}(\mathrm{precision}) \)
                        </label>
                        <div class="col-sm-8">

                            <select id="input_ground_state_precision_choice" class="col-sm-4 form-control">

                            </select>

                        </div>
                    </div>
                </form>

            </div>

            <div id="ground_state_quantum_info" style="display: block;" class="col-md-6" >

                <h4 id="qn_conserve_prompt">
                    <span class="prompt-text">
                        Conserve total spin
                    </span>
                	<a tabindex="0" 
                    data-toggle="popover" 
                    data-trigger="focus" 
                    data-content="Click yes if the ground state you wish to calculate is an eigenstate of the total spin."
                    >
                        <i class="fa fa-question-circle fa-lg"></i>
                    </a>

                </h4>

                <div id="ground_number_conservation_choice" class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="radio" name="options" data-number-conservation=1>Yes
                </label>
                <label class="btn btn-primary active">
                    <input type="radio" name="options" data-number-conservation=0 checked>No
                </label>
                </div>


                <br><br>

                <div id="ground_state_quantum_number_info" style="display: none;">

                    <h4 id="qn_magnitude_prompt">
                        <span class="prompt-text">
                            Total spin \( \sum{2S} \) 
                        </span>
                        <a tabindex="0" 
                        data-toggle="popover" 
                        data-trigger="focus" 
                        data-content="This number gives twice the total spin of the calculated ground state. Only values that are physically possible (given the magnitude of the spin per site and the system size) are displayed in the dropdown."
                        >
                            <i class="fa fa-question-circle fa-lg"></i>
                        </a>
                    </h4>

                    <form class="form-inline" role="form">
                        <select id="quantum_number_ground_state_choice" class="form-control">

                        </select>
                    </form>

                </div>

            </div>

        </div>

        <hr>

      </div> <!-- End of ground_state_extra_info_specification -->

      <div class="row new-calculation-step-navigation">
          <div class="col-md-6">
              <button type="button" class="btn btn-default btn-back-step form-control ">Back</button>
          </div>

          <div class="col-md-6">
              <button type="button" class="btn btn-success btn-next-step form-control ">Next</button>
          </div>
      </div>

    </div>
  </div>
</div> <!-- End of Ground state calculation specification -->

<div id="new_calculation_define_ground_hamiltonian" class="new-calculation-step" style="display: none;">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Ground state Hamiltonian</h3>
    </div>

    <div class="panel-body">

      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%;">
            Setup progress
        </div>
      </div>
      
      <h4>Available operators
      <a tabindex="0" 
                    data-toggle="popover" 
                    data-trigger="focus" 
                    data-content="Build the ground state Hamiltonian by clicking on one of the predefined operators below, then choosing a functional form for its coefficients in the box that appears below. Your currently defined Hamiltonian will be displayed as it is created."
                    >
                        <i class="fa fa-question-circle fa-lg"></i>
                    </a>
                    	
      </h4>
      
      <!-- <p> 
      Each term will be used to form the Hamiltonian as 
      \[ 
      H = \sum_{j=0}^{L-1}\sum_o^{n_o}f_{o}(j)\hat{o}_{j} + \sum_{j=0}^{L-2}\sum_t^{n_t}f_{t}(j)\hat{t}_{j,j+1},
      \]
      where there are \( n_o \) onsite terms \( \hat{o} \), \( n_t \) two-site terms \( \hat{t} \), and where \( f_{o,t}(j) \) is the chosen spatial function for the onsite or two-site term \( \hat{o},\hat{t} \).
      </p> -->

      <div id="new_calculation_available_ground_hamiltonian_operators">

      </div>

      <hr>
	 <h4>Current Hamiltonian
      <a tabindex="0" 
                    data-toggle="popover" 
                    data-trigger="focus" 
                    data-content="This Hamiltonian will be used to find the ground state. The spatially varying functions can be modified be specifying the function type and parameters in the box for each term below."
                    >
                        <i class="fa fa-question-circle fa-lg"></i>
                    </a>
                    	
      </h4>

      <h3><span id="ground_hamiltonian_tex_str" class="hamiltonian_tex_str"></span></h3>

      <div id="no_ground_hamiltonian_terms_added_yet_warning" class="alert alert-info no-terms-added" role="alert">You haven't added any terms to the Hamiltonian yet!</div>

      <div id="ground_hamiltonian_terms_container_super" class="hamiltonian_terms_container_super">

        <div id="ground_hamiltonian_terms_container" class="hamiltonian_terms_container">
        </div>

      </div>

      <hr>

      <div class="row new-calculation-step-navigation">  <!-- back next controls -->
          <div class="col-md-6">
              <button type="button" disabled="disabled" class="btn btn-default btn-back-step btn-back-step form-control ">Back</button>
          </div>

          <div class="col-md-6">
              <button type="button" class="btn btn-success btn-next-step form-control ">Next</button>
          </div>
      </div>  <!-- End of back next controls -->

    </div>  <!-- End of panel body -->

  </div>  <!-- End of panel -->

</div>  <!-- End of div new_calculation_define_ground_hamiltonian-->

<!-- Time evolution calculation specification -->
<div id="new_calculation_time_evolution" class="new-calculation-step" style="display: none;">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Time evolution calculation</h3>
    </div>

    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%;">
          Setup progress
      </div>
    </div>

    <div class="panel-body">

      <p>Do you want to calculate dynamical evolution of your system?</p>

      <div id="time_evolution_choice" class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="options" data-calculate-time-evolution=1 checked>Yes
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" data-calculate-time-evolution=0>No
        </label>
      </div>


      <div id="time_evolution_time_step_specification" class="row">

        <hr>

        <div class="col-md-7">


            <div id="time_evolution_parameter_warning_msg" class="bg-warning text-warning" style="display:none;">
                <p>Please ensure your time step size is a real number, and your chosen number of time steps is between 1 and 2000. </p>
                <p>The number of expectation value evaluations must be no less than (the number of time steps) / 200, and no larger than the number of time steps. </p>
            </div>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="input_num_time_steps" class="col-sm-5 control-label">Number of time steps</label>
                    <div class="col-sm-7">
                    <input type="number" class="form-control integer-only" id="input_num_time_steps" placeholder="100" value="100">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_time_step_size" class="col-sm-5 control-label">Time step size</label>
                    <div class="col-sm-7">
                    <input type="number" class="form-control float-only" id="input_time_step_size" placeholder="0.01" value="0.01">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_num_expval_time_steps" class="col-sm-5 control-label">Number of time steps for expectation value evaluations</label>
                    <div class="col-sm-7">
                    <input type="number" class="form-control integer-only" id="input_num_expval_time_steps" placeholder="10" value="10">
                    </div>
                </div>
            </form>


            </div>

            <div class="col-md-5"

                <p>Enforce quantum number conservation on the dynamical evolution?</p>

                <div id="dynamical_number_conservation_choice" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary">
                    <input type="radio" name="options" data-dynamical-number-conservation=1>Yes
                    </label>
                    <label class="btn btn-primary active">
                    <input type="radio" name="options" data-dynamical-number-conservation=0 checked>No
                    </label>
                </div>

            </div>

        </div> <!-- End of row -->


      <hr>

      <div class="row new-calculation-step-navigation">
          <div class="col-md-6">
              <button type="button" class="btn btn-default btn-back-step form-control ">Back</button>
          </div>

          <div class="col-md-6">
              <button type="button" class="btn btn-success btn-next-step form-control ">Next</button>
          </div>
      </div>

    </div> <!-- End of panel body -->

  </div> <!-- End of panel -->

</div> <!-- End of Time evolution calculation specification -->

<!-- Initial state specification -->
<div id="new_calculation_initial_state" class="new-calculation-step" style="display: none;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Initial state</h3>
    </div>

    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
          Setup progress
      </div>
    </div>

    <div class="panel-body">

      <h4>Initial state - base state</h4>
      <p>Choose the initial state \( | \psi \rangle_{\mathrm{base}} \) you want to evolve from. You can choose from the following given states, and optionally you can apply transformations by applying operators below. </p>

      <div id="new_calculation_available_initial_base_states">

        <p class="bg-info">Loading initial states...</p>

      </div>


      <hr>

      <h4>Initial state - transformation</h4>

      <p>Now choose a transformation to tailor your initial state (optional).
      You can apply multiple system-wide operators \( \hat{O}_k \) to the initial state, which will be applied in the order they are specified below.
      i.e. \( | \psi \rangle_{\mathrm{start}} = \hat{O}_m\cdots\hat{O}_2\hat{O}_1| \psi \rangle_{\mathrm{base}} \) where \( m \) operators have been applied.</p>
      
      <p>Each system wide operator \( \hat{O}_k \) is to formed from a single-site operators of your choice, 
      and can be <b>product</b> of terms or a <b>sum</b> of terms (where the latter case is only available when there is no quantum number conservation).</p>

      <div class="panel panel-default">

        <div class="panel-body">

            <div class="row">

                <div class="col-md-6">

                    <p id="initial_state_modifier_explain_text_sum">If you choose a <b>sum</b> of terms, the chosen operators will be used to form the total site-wide operator as 
                    \[ 
                    \hat{O}_k = \sum_{j=0}^{L-1}\sum_o^{n_o}f_{o}(j)\hat{o}_{j},
                    \]
                    where there are \( n_o \) on-site terms \( \hat{o} \), and where \( f_{o}(j) \) is the chosen spatial function for the onsite term \( \hat{o} \).
                    </p>

                </div>

                <div class="col-md-6">

                    <p id="initial_state_modifier_explain_text_product" style="">If you choose a <b>product</b> of terms, the chosen operators will be used to form the total site-wide operator as 
                    \[ 
                    \hat{O} = \prod_{j=0}^{L-1}\prod_o^{n_o}\hat{o}_{j}^{f_{o}(j)},
                    \]
                    where there are \( n_o \) on-site terms \( \hat{o} \), and where \( f_{o}(j) \) is the chosen spatial function for the onsite term \( \hat{o} \). 
                    For all operators apart from the spin flip, the function \( f_{o}(j) \) will take positive integer values only.
                    Note the operators will be applied to the base state in the order that they are chosen.
                    </p>

                </div>

            </div>

        </div>

      </div>

      <div class="well">
        <form class="form-inline" role="form">

            <!--<div class="form-group">-->

                <!--<label class="" for="initial_state_modifier_sum_or_product_choice">Sum or product</label>-->
                <!--<select id="initial_state_modifier_sum_or_product_choice" class="form-control">-->

                    <!--<option value="sum">Sum</option>-->
                    <!--<option value="product">Product</option>-->

                <!--</select>-->
            <!--</div>-->
            <div class="checkbox">
                <label>
                <input type="checkbox" id="renormalise_after_initial_state_modifiers_choice"> Renormalise wave function after applying modifiers
                </label>
            </div>

        </form>
      </div>

	  <div class="row">

        <div class="col-md-3">
            <button
            type="button" 
            id="add_product_modifier"
            class="btn btn-default form-control hamiltonian-operator-btn add-product-or-sum-modifier-btn"
            data-sum-product="product">
            <i class="fa fa-times-circle fa-3x"></i> 
            Add a product modifier
            <br>
            </button>
        </div>

        <div class="col-md-3">
            <button
            type="button" 
            id="add_sum_modifier"
            class="btn btn-default form-control hamiltonian-operator-btn add-product-or-sum-modifier-btn"
            data-sum-product="sum">
            <i class="fa fa-plus-circle fa-3x"></i> 
            Add a sum modifier
            </button>
        </div>

	  </div>

      <hr>

      <div id="initial_state_modifier_container">

      </div>


      <hr>

      <div class="row new-calculation-step-navigation">
          <div class="col-md-6">
              <button type="button" class="btn btn-default btn-back-step form-control ">Back</button>
          </div>

          <div class="col-md-6">
              <button type="button" class="btn btn-success btn-next-step form-control ">Next</button>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Time evolution specification -->

<div id="new_calculation_define_dynamic_hamiltonian" class="new-calculation-step" style="display: none;">

    <div class="page-header">
    <h1>
        Define your dynamic Hamiltonian <small>

      	<a tabindex="0" 
           data-toggle="popover" 
           data-trigger="focus" 
           data-content="This is the Hamiltonian controlling the system as it evolves from your chosen initial state. If you specified a ground state calculation, this Hamiltonian defaults to the Hamiltonian you chose to calculate the ground state. "
        >
            <i class="fa fa-question-circle fa-lg"></i>
        </a>

        </small>

    </h1>
    </div>

  <!--<div class="jumbotron">-->
    <!--<h1>Define your dynamic Hamiltonian </h1>-->
    <!--<p>This is the Hamiltonian controlling the system as it evolves from your chosen initial state. If you specified a ground state calculation, this Hamiltonian defaults to the Hamiltonian you chose to calculate the ground state. </p>-->
  <!--</div>-->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Available operators</h3>
    </div>

    <div class="panel-body">

      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%;">
            Setup progress
        </div>
      </div>

      <p>Select from the following menu to add another Hamiltonian term, then customise it by choosing a functional form for its coefficients (defaults to constant across the system). 
      Each term will be used to form the Hamiltonian as 
      \[ 
      H = \sum_{j=0}^{L-1}\sum_o^{n_o}f_{o}(j)g_{o}(t)\hat{o}_{j} + \sum_{j=0}^{L-2}\sum_o^{n_n}f_{o}(j)g_{o}(t)\hat{o}_{j,j+1},
      \]
      where there are \( n_o \) onsite terms \( \hat{o}_{j} \), \( n_n \) nearest-neighbour two-site terms \( \hat{o}_{j,j+1} \), 
      and where \( f_{o}(j), g_{o}(t) \) are the chosen spatial and temporal functions respectively for the onsite or two-site term.
      </p>

      <div id="new_calculation_available_dynamic_hamiltonian_operators">

      </div>

      <hr>


      <div id="no_dynamic_hamiltonian_terms_added_yet_warning" class="alert alert-info no-terms-added" role="alert">You haven't added any terms to the Hamiltonian yet!</div>

      <div id="dynamic_hamiltonian_terms_container_super" class="hamiltonian_terms_container_super">

        <h2>

            <btn class="btn btn-danger remove-all-terms-btn">
                <i class="fa fa-trash-o fa-lg"></i> Remove all terms
            </btn>
			<br><br>
            Hamiltonian H = <span id="dynamic_hamiltonian_tex_str" class="hamiltonian_tex_str"></span>

        </h2>


        <div id="dynamic_hamiltonian_terms_container" class="hamiltonian_terms_container">
        </div>

      </div>

      <hr>

      <div class="row new-calculation-step-navigation">  <!-- back next controls -->
          <div class="col-md-6">
              <button type="button" class="btn btn-default btn-back-step btn-back-step form-control ">Back</button>
          </div>

          <div class="col-md-6">
              <button type="button" class="btn btn-success btn-next-step form-control ">Next</button>
          </div>
      </div>  <!-- End of back next controls -->

    </div>  <!-- End of panel body -->

  </div>  <!-- End of panel -->

</div>  <!-- End of div new_calculation_define_dynamic_hamiltonian-->

<!-- Expectation value specification -->
<div id="new_calculation_expectation_operators" class="new-calculation-step" style="display: none;">

    <div class="page-header">
    <h1>Expectation values <small>What do you want to calculate?</small></h1>
    </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Available expectation operators</h3>
    </div>

    <div class="panel-body">

      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%;">
            Setup progress
        </div>
      </div>


      <div class="row">

        <div id="calculate_overlap_with_ground_state_choice_div" class="col-md-6">

            <h4>Calculate overlaps with the ground state?</h4>
            <div id="calculate_overlap_with_ground_state_choice" class="btn-group" data-toggle="buttons">

                <label class="btn btn-primary">
                <input type="radio" name="options" data-overlap-choice=1>Yes
                </label>
                <label class="btn btn-primary active">
                <input type="radio" name="options" data-overlap-choice=0 checked>No
                </label>
            </div>

            <hr>

        </div>

        <div id="calculate_overlap_with_initial_state_choice_div" class="col-md-6">

            <h4>Calculate overlaps with the initial state?</h4>
            <div id="calculate_overlap_with_initial_state_choice" class="btn-group" data-toggle="buttons">

                <label class="btn btn-primary">
                <input type="radio" name="options" data-overlap-choice=1>Yes
                </label>
                <label class="btn btn-primary active">
                <input type="radio" name="options" data-overlap-choice=0 checked>No
                </label>
            </div>

            <hr>

        </div>

     </div>

      <div id="no_expectation_operators_added_yet_warning" class="alert alert-warning" role="alert">You haven't specified any operators to calculate expectation values for yet!</div>

      <p>Select from the following menu to add another operator you wish to calculate expectation values for. </p>

      <h4>Single site expectation operators</h4>
      <div id="new_calculation_available_expectation_operators_single_site">

      </div>

      <hr>

      <h4>Two-site expectation operators</h4>
      <div id="new_calculation_available_expectation_operators_two_site">

      </div>

      <div class="row new-calculation-step-navigation">  <!-- back next controls -->
          <div class="col-md-6">
              <button type="button" class="btn btn-default btn-back-step form-control ">Back</button>
          </div>

          <div class="col-md-6">
              <button type="button" class="btn btn-success btn-next-step form-control ">Next</button>
          </div>
      </div>  <!-- End of back next controls -->

    </div>  <!-- End of panel body -->

  </div>  <!-- End of panel -->

</div> <!-- End of div new_calculation_expectation_operators -->

<!-- Confirm and submit the calculation -->
<div id="new_calculation_confirm" class="new-calculation-step" style="display: none;">

  <!--<div class="jumbotron">-->
    <!--<h1>That's it!</h1>-->
    <!--<p>If you're happy with this calculation, hit Save. You can then run it at your leisure. </p>-->
  <!--</div>-->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Confirmation - If you're happy with this calculation, hit Save. You can then run it at your leisure. </h3>
    </div>

    <div class="panel-body">

      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            Setup progress
        </div>
      </div>

      <div class="row">
          <div class="col-md-6">
              <button type="button" id="cancel_calculation" class="btn btn-default form-control ">Cancel</button>
          </div>

          <div class="col-md-6">
              <button type="button" id="submit_calculation" class="btn btn-success btn-next-step form-control ">Save</button>
          </div>
      </div>

    </div>  <!-- End of panel body -->

  </div>  <!-- End of panel -->

</div> <!-- End of div new_calculation_confirm -->

{% endblock %}

{% block end_of_body_scripts %}
  <script>
    window.user = {};
    window.user.email = "{{user.email}}";
    window.user.id = "{{user.id}}";
    console.log("Stored logged in user details");

    tnt.initialise_new_calculation_basic_setup_step();  // Display the first screen of the setup process
    tnt.initialise_blank_calculation(); // Set up a 'blank' calculation which we will fill in sequentially

    $("#sidebar_new_calculation").addClass("active");

    // Initialise popovers
    $('[data-toggle="popover"]').popover();

  </script>

{% endblock %}

{% block handlebars_scripts %}

  {% include "dashboard/handlebars_templates/hamiltonian_operator_template.html" %}

  {% include "dashboard/handlebars_templates/hamiltonian_term_template.html" %}

  {% include "dashboard/handlebars_templates/initial_base_states_template.html" %}

  {% include "dashboard/handlebars_templates/spatial_dependence_template.html" %}

  {% include "dashboard/handlebars_templates/expectation_operators_template.html" %}

  {% include "dashboard/handlebars_templates/initial_state_modifier_sum_or_product_template.html" %}

{% endblock %}
