<div id="new_calculation_confirm" class="new-calculation-step" style="display: none;">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Confirmation</h3>
    </div>

    <div class="panel-body">
    <p>
    If you're happy with this calculation then save it to run it at a later time. 
    </p>
    <p>
    Otherwise you can go back to change certain parameters or delete this calculation and start again.
    </p>
    <hr>
      <div class="row">
          <div class="col-xs-4">
                <a href="#" role="button" class="btn-back-step btn-back-step"> <i class="fa fa-arrow-left fa-3x" title="Back"></i> </a>
          </div>
          <div class="col-xs-4">
            <div class="text-center">
                <a href="#" role="button" id="cancel_calculation"> <i class="fa fa-trash-o fa-3x" title="Cancel"></i> </a>
            </div>
                <!-- 
                <button type="button" id="cancel_calculation" class="btn btn-default form-control ">Cancel</button> -->
          </div>
          <div class="col-xs-4">
          <div class="pull-right">
              <a href="#" role="button" id="submit_calculation"> <i class="fa fa-floppy-o fa-3x" title="Save"></i> </a>
              <!-- <button type="button" id="submit_calculation" class="btn btn-success btn-next-step form-control ">Save</button> -->
          </div>
          </div>
      </div>

    </div>  <!-- End of panel body -->

  </div>  <!-- End of panel -->

</div> <!-- End of div new_calculation_confirm -->

