{% extends "dashboard/page_template.html" %}

{% block content %}

    {% include "dashboard/new_calculation_basic_setup.html" %}

    {% include "dashboard/new_calculation_ground_state.html" %}

    {% include "dashboard/new_calculation_time_evolution.html" %}

    {% include "dashboard/new_calculation_initial_state.html" %}

    {% include "dashboard/new_calculation_define_dynamic_hamiltonian.html" %}

    {% include "dashboard/new_calculation_expectation_operators.html" %}

    {% include "dashboard/new_calculation_confirm.html" %}

{% endblock %}

{% block end_of_body_scripts %}
  <script>
    window.user = {};
    window.user.email = "{{user.email}}";
    window.user.id = "{{user.id}}";
    console.log("Stored logged in user details");

    tnt.initialise_new_calculation_basic_setup_step();  // Display the first screen of the setup process
    tnt.initialise_blank_calculation(); // Set up a 'blank' calculation which we will fill in sequentially

    $("#sidebar_new_calculation").addClass("active");

    // Initialise popovers
    $('[data-toggle="popover"]').popover();

  </script>

{% endblock %}

{% block handlebars_scripts %}

  {% include "dashboard/handlebars_templates/hamiltonian_operator_template.html" %}

  {% include "dashboard/handlebars_templates/hamiltonian_term_template.html" %}

  {% include "dashboard/handlebars_templates/initial_base_states_template.html" %}

  {% include "dashboard/handlebars_templates/spatial_dependence_template.html" %}

  {% include "dashboard/handlebars_templates/expectation_operators_template.html" %}

  {% include "dashboard/handlebars_templates/initial_state_modifier_sum_or_product_template.html" %}

{% endblock %}
