<!-- Initial state specification -->
<div id="new_calculation_initial_state" class="new-calculation-step" style="display: none;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Initial state</h3>
    </div>

    <div class="progress visible-xs">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
          Setup progress
      </div>
    </div>

    <div class="panel-body">

      <h4>Base state \( | \psi \rangle_{\mathrm{base}} \) <a tabindex="0" 
           data-toggle="popover" 
           data-trigger="focus" 
           data-html="true"
           data-placement="right"
           data-content="Use these states to build initial state you want to evolve from. You can choose from the following given states, and optionally you can apply transformations by applying operators below."
        >
            <i class="fa fa-question-circle fa-lg"></i>
        </a></h4>

      <div id="new_calculation_available_initial_base_states">

        <p class="bg-info">Loading initial states...</p>

      </div>


      <hr>

      <h4>Transformation \( \hat{O} = \prod \hat{O_k} \) <a tabindex="0" 
           data-toggle="popover" 
           data-trigger="focus" 
           data-html="true"
           data-placement="right"
           data-content="Now build an operator O to transform your initial state (optional). You can apply multiple system-wide operators O_k, and each system wide operator can be formed from a product of single-site terms or from a sum of single-site terms (where the latter case is only available when there is no quantum number conservation)."
        >
            <i class="fa fa-question-circle fa-lg"></i>
        </a></h4>
        
     <!-- <div class="panel panel-default">

        <div class="panel-body">

            <div class="row">

                <div class="col-md-6">

                    <p id="initial_state_modifier_explain_text_sum">If you choose a <b>sum</b> of terms, the chosen operators will be used to form the total site-wide operator as 
                    \[ 
                    \hat{O}_k = \sum_{j=0}^{L-1}\sum_o^{n_o}f_{o}(j)\hat{o}_{j},
                    \]
                    where there are \( n_o \) on-site terms \( \hat{o} \), and where \( f_{o}(j) \) is the chosen spatial function for the onsite term \( \hat{o} \).
                    </p>

                </div>

                <div class="col-md-6">

                    <p id="initial_state_modifier_explain_text_product" style="">If you choose a <b>product</b> of terms, the chosen operators will be used to form the total site-wide operator as 
                    \[ 
                    \hat{O} = \prod_{j=0}^{L-1}\prod_o^{n_o}\hat{o}_{j}^{f_{o}(j)},
                    \]
                    where there are \( n_o \) on-site terms \( \hat{o} \), and where \( f_{o}(j) \) is the chosen spatial function for the onsite term \( \hat{o} \). 
                    For all operators apart from the spin flip, the function \( f_{o}(j) \) will take positive integer values only.
                    Note the operators will be applied to the base state in the order that they are chosen.
                    </p>

                </div>

            </div>

        </div>

      </div> -->

      <div class="row">

        <div class="col-xs-6 col-sm-4 col-lg-3">
            <button
            type="button" 
            id="add_product_modifier"
            class="btn btn-default form-control hamiltonian-operator-btn add-product-or-sum-modifier-btn"
            data-sum-product="product"
            data-toggle="popover" 
           data-trigger="hover" 
           data-html="true"
           data-container="body"
           data-placement="top"
           data-content="Apply a modifier formed from a product of single-site terms o_j, where the number of times each operator is applied to a given site j is specified by a spatial function, which you can define below."
           style="height:90px;">
            \[ \hat{O}_k = \prod_{j=0}^{L-1}\prod_o^{n_o}\hat{o}_{j}^{f_{o}(j)} \]
            </button>
        </div>

        <div class="col-xs-6 col-sm-4 col-lg-3">
            <button
            type="button" 
            id="add_sum_modifier"
            class="btn btn-default form-control hamiltonian-operator-btn add-product-or-sum-modifier-btn"
            data-sum-product="sum"
            data-toggle="popover" 
           data-trigger="hover" 
           data-html="true"
           data-container="body"
           data-placement="top"
           data-content="Apply a modifier formed from a sum of single-site terms o_j, where the operator on each site j can be scaled by a spatial function, which you can define below."
           style="height:90px;">
            \[ \hat{O}_k = \sum_{j=0}^{L-1}\sum_o^{n_o}f_{o}(j)\hat{o}_{j} \]
            </button>
        </div>


        <div class="col-xs-12 col-sm-4 col-lg-6">

            <hr class="visible-xs-block">

            <h5> Renormalise wave function after applying modifiers? </h5>

          <div id="renormalise_after_initial_state_modifiers_choice" class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
              <input type="radio" name="options" data-renormalise-initial-state=1>Yes
            </label>
            <label class="btn btn-primary active">
              <input type="radio" name="options" data-renormalise-initial-state=0 checked>No
            </label>
          </div>

      </div>

      </div>
     <div class="row text-center" style="padding-bottom: 20px;padding-top: 20px;">
          <span id="initial_state_modifiers_tex_str" class="hamiltonian_tex_str text-center">
          </span>
      </div>
      
      <hr>

      <div id="initial_state_modifier_container">

      </div>


      <hr>

      <div class="row new-calculation-step-navigation">  <!-- back next controls -->
          <div class="col-xs-6">
              <a href="#" role="button" class="btn-back-step btn-back-step"> <i class="fa fa-arrow-left fa-3x"></i> </a>
          </div>

          <div class="col-xs-6">
          <div class="pull-right">
              <a href="#" role="button" class="btn-next-step"> <i class="fa fa-arrow-right fa-3x"></i> </a>
          </div>
          </div>
      </div>  <!-- End of back next controls -->
    </div>
  </div>
</div>
<!-- End of initial state specification -->

