<div id="new_calculation_confirm" class="new-calculation-step" style="display: none;">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Confirmation - If you're happy with this calculation, hit Save. You can then run it at your leisure. </h3>
    </div>

    <div class="panel-body">

      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            Setup progress
        </div>
      </div>

      <div class="row">
          <div class="col-xs-6">
              <button type="button" id="cancel_calculation" class="btn btn-default form-control ">Cancel</button>
          </div>

          <div class="col-xs-6">
              <button type="button" id="submit_calculation" class="btn btn-success btn-next-step form-control ">Save</button>
          </div>
      </div>

    </div>  <!-- End of panel body -->

  </div>  <!-- End of panel -->

</div> <!-- End of div new_calculation_confirm -->

