{% extends "dashboard/page_template.html" %}

{% block content %}

    <div id="calculation_progress" class="hidden-xs" style="padding-bottom: 20px;">
        <ol class="progtrckr" data-progtrckr-steps="7">
            <li class="progtrckr-todo" id="progress_basic">Basic setup</li><!--
        --><li class="progtrckr-todo" id="progress_ground">Ground state</li><!--
        --><li class="progtrckr-todo" id="progress_time">Evolution</li><!--
        --><li class="progtrckr-todo" id="progress_initial">Initial state</li><!--
        --><li class="progtrckr-todo" id="progress_dynamics">Dynamics</li><!--
        --><li class="progtrckr-todo" id="progress_expectation">Expectations</li><!--
        --><li class="progtrckr-todo" id="progress_confirmation">Confirmation</li>
        </ol>
    </div>

    {% include "dashboard/new_calculation_basic_setup.html" %}

    {% include "dashboard/new_calculation_ground_state.html" %}

    {% include "dashboard/new_calculation_time_evolution.html" %}

    {% include "dashboard/new_calculation_initial_state.html" %}

    {% include "dashboard/new_calculation_define_dynamic_hamiltonian.html" %}

    {% include "dashboard/new_calculation_expectation_operators.html" %}

    {% include "dashboard/new_calculation_confirm.html" %}

{% endblock %}

{% block end_of_body_scripts %}
  <script>
    window.user = {};
    window.user.email = "{{user.email}}";
    window.user.id = "{{user.id}}";
    console.log("Stored logged in user details");

    tnt.go();

    $("#sidebar_new_calculation").addClass("active");

    // Initialise popovers
    $('[data-toggle="popover"]').popover();

  </script>

{% endblock %}

{% block handlebars_scripts %}

  {% include "dashboard/handlebars_templates/hamiltonian_operator_template.html" %}

  {% include "dashboard/handlebars_templates/hamiltonian_term_template.html" %}

  {% include "dashboard/handlebars_templates/initial_base_states_template.html" %}

  {% include "dashboard/handlebars_templates/spatial_dependence_template.html" %}

  {% include "dashboard/handlebars_templates/expectation_operators_template.html" %}

  {% include "dashboard/handlebars_templates/initial_state_modifier_sum_or_product_template.html" %}

{% endblock %}
