<div id="new_calculation_define_dynamic_hamiltonian" class="new-calculation-step" style="display: none;">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Dynamic Hamiltonian</h3>
    </div>
    <div class="panel-body">

      <h4>Available operators
      <a tabindex="0" 
                    data-toggle="popover" 
                    data-trigger="focus" 
                    data-content="Build the dynamic Hamiltonian by clicking on one of the predefined operators, then choosing a functional form for its coefficients in the box that appears below. Your currently defined Hamiltonian will be displayed as it is created. If you specified a ground state calculation, this Hamiltonian defaults to the Hamiltonian you chose to calculate the ground state."
                    >
                        <i class="fa fa-question-circle fa-lg"></i>
                    </a>

      </h4>

      <div id="new_calculation_available_dynamic_hamiltonian_operators">

      </div>

      <hr>

    <h4>Current Hamiltonian
      <a tabindex="0" 
                    data-toggle="popover" 
                    data-trigger="focus" 
                    data-content="This Hamiltonian will be used to evolve your chosen initial state. The spatially and temporally varying functions can be modified be specifying the function type and parameters in the box for each term below."
                    >
                        <i class="fa fa-question-circle fa-lg"></i>
                    </a>

      </h4>

      <div id="no_dynamic_hamiltonian_terms_added_yet_warning" class="alert alert-info no-terms-added" role="alert">You haven't added any terms to the Hamiltonian yet!</div>

      <div id="dynamic_hamiltonian_terms_container_super" class="hamiltonian_terms_container_super">

        <p>

            <!-- <btn class="btn btn-danger remove-all-terms-btn">
                <i class="fa fa-trash-o fa-lg"></i> Remove all terms
            </btn> -->
            <span id="dynamic_hamiltonian_tex_str" class="hamiltonian_tex_str"></span>

        </p>


        <div id="dynamic_hamiltonian_terms_container" class="hamiltonian_terms_container">
        </div>

      </div>

      <hr>

      <div class="row new-calculation-step-navigation">  <!-- back next controls -->
          <div class="col-xs-6">
              <a href="#" role="button" class="btn-back-step btn-back-step"> <i class="fa fa-arrow-left fa-3x"></i> </a>
          </div>

          <div class="col-xs-6">
          <div class="pull-right">
              <a href="#" role="button" class="btn-next-step" style="display:none"> <i class="fa fa-arrow-right fa-3x"></i> </a>
          </div>
          </div>
      </div>  <!-- End of back next controls -->

    </div>  <!-- End of panel body -->

  </div>  <!-- End of panel -->

</div>  <!-- End of div new_calculation_define_dynamic_hamiltonian-->

