<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="/static/dashboard/css/font-awesome.css" rel="stylesheet">
    <title>TNT Go!</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dashboard/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/dashboard/css/dashboard.css" rel="stylesheet">
    <link href="/static/dashboard/css/bootstrap-select.min.css" rel="stylesheet">
    <!--<script src="/static/dashboard/js/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>-->
    <!--<script src="/static/dashboard/js/MathJax.js"></script>-->
    <script type='text/javascript' src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="/static/dashboard/img/tnt_logo.jpeg" height=50> Library</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <!--   <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li> -->
<li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">{{user.email}}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Account</a></li>
            <li class="divider"></li>
            <li><a href="/logout/">Logout</a></li>
          </ul>
        </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/new_calculation/">New calculation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/faq/">FAQ</a></li>
            <li><a href="/logout/">Log out</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block content %}

            {% endblock %}

        <hr>

        <!-- Button trigger modal -->
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Conditions of use
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">LICENCE TENSOR THEORY NETWORK LIBRARY ©2014</h4>
              </div>
              <div class="modal-body">
               The University of Oxford (the "Software")

The Software remains the property of the University of Oxford ("the University").

The Software is distributed "AS IS" under this Licence solely for non-commercial use in the hope that it will be useful, but in order that the University as a charitable foundation protects its assets for the benefit of its educational and research purposes, the University makes clear that no condition is made or to be implied, nor is any warranty given or to be implied, as to the accuracy of the Software, or that it will be suitable for any particular purpose or for use under any specific conditions. Furthermore, the University disclaims all responsibility for the use which is made of the Software. It further disclaims any liability for the outcomes arising from using the Software.

<p>The Licensee agrees to indemnify the University and hold the University harmless from and against any and all claims, damages and liabilities asserted by third parties (including claims for negligence), which arise directly or indirectly from the use of the Software or the sale of any products based on the Software.</p>

<p>No part of the Software may be reproduced, modified, transmitted or transferred in any form or by any means, electronic or mechanical, without the express permission of the University. The permission of the University is not required if the said reproduction, modification, transmission or transference is done without financial return, the conditions of this Licence are imposed upon the receiver of the product, and all original and amended source code is included in any transmitted product. You may be held legally responsible for any copyright infringement that is caused or encouraged by your failure to abide by these terms and conditions.</p>
<p>You are not permitted under this Licence to use this Software commercially. Use for which any financial return is received shall be defined as commercial use, and includes:

<ul>
    <li>integration of all or part of the source code or the Software into a product for sale or license by or on behalf of Licensee to third parties or</li>
    <li>use of the Software or any derivative of it for research with the final aim of developing software products for sale or license to a third party or</li>
    <li>use of the Software or any derivative of it for research with the final aim of developing non-software products for sale or license to a third party, or</li>
    <li>use of the Software to provide any service to an external organisation for which payment is received. 
</ul>
</p>
If you are interested in using the Software commercially, please contact Isis Innovation Limited ("Isis"), the technology transfer company of the University, to negotiate a licence. 

<br>

<p>
Contact details are: innovation@isis.ox.ac.uk quoting reference MG/11431.
</p>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>


        </div>
      </div>


    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/dashboard/js/jquery-2.0.3.js"></script>
    <script src="/static/dashboard/js/bootstrap.min.js"></script>
    <script src="/static/dashboard/js/bootstrap-select.min.js"></script>
    <script src="/static/dashboard/js/button.js"></script>
    <script src="/static/dashboard/js/handlebars-v1.3.0.js"></script>
    <script src="/static/dashboard/js/underscore-min.js"></script>
    <script src="/static/dashboard/js/main.js"></script>


    {% block end_of_body_scripts %}
      
    {% endblock %}

    {% block handlebars_scripts %}
        
    {% endblock %}

    <!--<link href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<script src="../../assets/js/docs.min.js"></script>-->
  </body>
</html>

