<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="/static/dashboard/css/font-awesome.css" rel="stylesheet">
    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/dashboard/css/dashboard.css" rel="stylesheet">
    <link href="/static/dashboard/css/bootstrap-select.min.css" rel="stylesheet">
    <!--<script src="/static/dashboard/js/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>-->
    <!--<script src="/static/dashboard/js/MathJax.js"></script>-->
    <script type='text/javascript' src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TNT Library</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
<li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">{{user.email}}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Account</a></li>
            <li class="divider"></li>
            <li><a href="/logout/">Logout</a></li>
          </ul>
        </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/new_calculation/">New calculation</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/faq/">FAQ</a></li>
            <li><a href="/logout/">Log out</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block content %}

            {% endblock %}
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/dashboard/js/jquery-2.0.3.js"></script>
    <script src="/static/dashboard/js/bootstrap.min.js"></script>
    <script src="/static/dashboard/js/bootstrap-select.min.js"></script>
    <script src="/static/dashboard/js/button.js"></script>
    <script src="/static/dashboard/js/handlebars-v1.3.0.js"></script>
    <script src="/static/dashboard/js/underscore-min.js"></script>
    <script src="/static/dashboard/js/main.js"></script>


    {% block end_of_body_scripts %}
      
    {% endblock %}

    {% block handlebars_scripts %}
        
    {% endblock %}

    <!--<link href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<script src="../../assets/js/docs.min.js"></script>-->
  </body>
</html>

